{% extends 'base.html' %}

{% block title %}{{ user.display_name }} - CritiqueBrainz{% endblock %}

{% block content %}
  <div id="user-profile">
    <div class="clearfix">
      <h2 class="pull-left">{{ user.display_name }}</h2>
      {% if current_user.is_authenticated %}
        {% if current_user == user %}
          <a href="{{ url_for('profile_details.edit') }}"
             class="btn btn-primary pull-right" style="margin-top: 20px;">
            <span class="glyphicon glyphicon-edit"></span> {{ _('Edit profile') }}
          </a>
        {% elif current_user.is_admin() %}
          <a href="{{ url_for('user.unblock' if user.is_blocked else 'user.block', user_id=user.id) }}"
             class="btn {{ 'btn-warning' if user.is_blocked else 'btn-danger'}} pull-right" style="margin-top: 20px;">
             <span class="glyphicon {{ 'glyphicon-ok' if user.is_blocked else 'glyphicon-remove' }}"></span>
            {{ ('Unblock User' if user.is_blocked else 'Block User') }}
          </a>
        {% endif %}
      {% endif %}
    </div>

    <ul id="profile-navigation" class="nav nav-tabs" role="tablist">
      <li {{ 'class=active' if section=='reviews' }}><a href="{{ url_for('user.reviews', user_id=user.id) }}">{{ _('Reviews') }}</a></li>
      <li {{ 'class=active' if section=='info' }}><a href="{{ url_for('user.info', user_id=user.id) }}">{{ _('Info') }}</a></li>
    </ul>

    {% block profile_content %}{% endblock %}
  </div>
{% endblock %}
