{% extends 'user/base.html' %}

{% block title %}{{ user.display_name }} - {{ _('Reviews') }} - CritiqueBrainz{% endblock %}

{% block profile_content %}
  {% if not reviews %}
    <p class="lead" style="text-align: center;">{{ _('No reviews found') }}</p>
  {% else %}
    <table id="reviews" class="table table-hover">
      <thead>
      <tr>
        <th><!-- Title --></th>
        {% if (current_user.is_authenticated and current_user == user) or current_user.is_admin() %}
          <th>{{ _('Status') }}</th>
        {% endif %}
        <th>{{ _('Created on') }}</th>
        <th>{{ _('Votes (+/-)') }}</th>
        {% if current_user.is_authenticated and current_user == user %}
          <th><!-- Buttons --></th>
        {% endif %}
      </tr>
      </thead>
      <tbody>
      {% for review in reviews %}
        {% set entity = review.entity_id | entity_details(type=review.entity_type) %}
        <tr data-review-id="{{ review.id }}">
          <td class="title">
            <a href="{{ url_for('review.entity', id=review.id) }}">

              {%- if review.entity_type == 'release_group' -%}
                <strong>{{ entity.title | default(_('[Unknown release group]')) }}</strong>
                {% if entity['first-release-date'] %}
                  <span class="text-muted">({{ entity['first-release-date'][:4] }})</span>
                {% endif %}
                - {{ entity['artist-credit-phrase'] | default(_('[Unknown artist]')) }}

              {%- elif review.entity_type == 'event' -%}
                <strong>{{ entity.name | default(_('[Unknown event]')) }}</strong>
                {% if entity['artist-relation-list'] %}
                  (
                  {{ entity['artist-relation-list'][0]['artist']['name'] }}
                  {% set count = entity['artist-relation-list'] | length %}
                  {% if count > 1 %}
                    + {{ count - 1 }} {{ _("more") }}
                  {% endif %}
                  )
                {% endif %}
              {%- elif review.entity_type == 'place' -%}
                <strong>{{ entity.name | default(_('[Unknown place]')) }}</strong>
              {%- endif -%}

            </a>
            <br />
            <span class="label {{ review.entity_type | replace('_', '-') }}">
              {{ review.entity_type | replace('_', ' ') | title }}
            </span>
          </td>
          {% if (current_user.is_authenticated and current_user == user) or current_user.is_admin() %}
            <td>
              {% if review.is_draft %}
                <span class="label label-default">{{ _('Draft') }}</span>
              {% else %}
                <span class="label label-primary">{{ _('Published') }}</span>
              {% endif %}
            </td>
          {% elif current_user.is_admin() %}
            <td align="right">
              {% if review.is_hidden %}
                <span class="label label-primary">{{ _('Hidden') }}</span>
              {% endif %}
            </td>
          {% endif %}
          <td>{{ review.published_on | date }}</td>
          <td>{{ review.votes_positive_count }}/{{ review.votes_negative_count }}</td>
          {% if current_user.is_authenticated and current_user == user %}
            <td>
              <a class="btn btn-primary btn-xs" href="{{ url_for('review.edit', id=review.id) }}">{{ _('Edit') }}</a>
              <a class="btn btn-danger btn-xs" href="{{ url_for('review.delete', id=review.id) }}">{{ _('Delete') }}</a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% if count > limit %}
      <ul class="pager">
        {% if page > 1 %}
          <li class="previous"><a href="{{ url_for('user.reviews', user_id=user.id, page=page-1) }}">&larr; {{ _('Newer') }}</a></li>
        {% endif %}
        {% if page-1 < count//limit %}
          <li class="next"><a href="{{ url_for('user.reviews', user_id=user.id, page=page+1) }}">{{ _('Older') }} &rarr;</a></li>
        {% endif %}
      </ul>
    {% endif %}
  {% endif %}
{% endblock %}
