Fabric==1.8.3
Flask==0.10.1
Flask-Login==0.2.10
Flask-Script==2.0.5
Flask-UUID==0.2
Flask-WTF==0.9.5
Flask-Babel==0.9
Flask-Testing==0.4.1
Jinja2==2.7
MarkupSafe==0.18
WTForms==2.0
pycountry==1.6
Werkzeug==0.9.6
argparse==1.2.1
distribute==0.6.34
itsdangerous==0.22
beautifulsoup4==4.3.2
musicbrainzngs==0.5
python-dateutil==2.1
rauth==0.7.0
wsgiref==0.1.2
Markdown==2.4
python-memcached==1.53
transifex-client==0.10
pyOpenSSL==0.13
ndg-httpsclient==0.3.2
pyasn1==0.1.6
requests==2.3.0