{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-3">
    <h4>Author</h4>
    <a href="{{ url_for('user.entity', id=review.user_id) }}">{{ review.user.display_name }}</a>
    <br />Joined on {{ review.user.created | datetime }}
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-6">
        {% set album = review.release_group|album_details %}
        <dl class="dl-horizontal">
          <dt>Published on</dt><dd>{{ review.created | datetime }}</dd>
          <dt>Artist</dt><dd>{{ album.artist }}</dd>
          <dt>Album</dt><dd>{{ album.title }} <span class="text-muted">({{ album.release_date }})</span></dd>
        </dl>
      </div>
      <div class="col-md-6">
        <dl class="dl-horizontal">
          <dt>Votes (+/-)</dt><dd>{{ review.votes_positive }}/{{ review.votes_negative }}</dd>
          <dt>Class</dt><dd>{{ review.review_class }}</dd>
        </dl>
      </div>
    </div>
    <hr />
    <p style="word-wrap: break-word; white-space: pre-wrap;">{{ review.text }}</p>
    <hr />
    {% if current_user.is_authenticated() %}
      {% if current_user.me.id != review.user_id %}
        <form method="POST" action="{{ url_for('review.vote_submit', id=review.id) }}">
          Did you find this review useful?
          <button type="submit" class="btn btn-default btn-xs" name="yes" {% if vote.placet == True %}disabled{% endif %}>Yes</button>
          <button type="submit" class="btn btn-default btn-xs" name="no" {% if vote.placet == False %}disabled{% endif %}>No</button>
          {% if vote.placet == True or vote.placet == False %}
            <a href="{{ url_for('review.vote_delete', id=review.id) }}">(delete your vote)</a>
          {% endif %}
        </form>
      {% else %}
        You cannot rate your own review
      {% endif %}
    {% else %}
      <a href="{{ url_for('login.index', next=url_for('review.entity', id=review.id)) }}">Sign up</a> to rate this review
    {% endif %}
  </div>
</div>
{% endblock %}

