{% extends 'base.html' %}

{% block title %}{{ _('Delete account') }} - CritiqueBrainz{% endblock %}

{% block content %}
<h2>{{ _('Delete account') }}</h2>
<hr />
<form method="POST" role="form">
  <div class="form-group">
    <p class="lead">{{ _('Are you sure you want to delete your account?') }}</p>
    <p>{{ _('All your data (i.e. reviews, votes, reports) will be purged. You <strong>cannot</strong> undo this action.') }}</p>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-danger">{{ _('Yes, I want to delete my account') }}</button>
    <a href="{{ url_for('frontend.index') }}" class="btn btn-default">{{ _('No') }}</a>
  </div>
</form>
{% endblock %}
