{% extends 'base.html' %}
{% from 'macros.html' import cover_art, review_credit, display_pagination with context %}

{% block title %}{{ _('Reviews') }} - CritiqueBrainz{% endblock %}

{% block content %}
<h2>{{ _('Reviews') }}</h2>
<p><em class="text-muted">{{ _('Ordered by') }} {{ sort_options[sort, sort_order] }}</em></p>
<ul class="nav nav-pills">
  <li role="presentation" {{ "class=active" if entity_type == None }}>
    <a href="{{ url_for('review.browse', entity_type='all', sort=sort, sort_order=sort_order) }}">{{ _('All') }}</a></li>
  <div class="btn-group dropdown pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ _('Sort by') }}: {{ sort_options[sort, sort_order] }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="sortDropdown">
        <li {% if sort == 'popularity' and sort_order == 'desc' %}class="active"{% endif %}><a href="{{ url_for('review.browse', entity_type=entity_type, sort='popularity', sort_order='desc') }}">{{ sort_options['popularity', 'desc'] }}</a></li>
        <li {% if sort == 'popularity' and sort_order == 'asc' %}class="active"{% endif %}><a href="{{ url_for('review.browse', entity_type=entity_type, sort='popularity', sort_order='asc') }}">{{ sort_options['popularity', 'asc'] }}</a></li>
        <li {% if sort == 'published_on' and sort_order == 'desc' %}class="active"{% endif %}><a href="{{ url_for('review.browse', entity_type=entity_type, sort='published_on', sort_order='desc') }}">{{ sort_options['published_on', 'desc'] }}</a></li>
        <li {% if sort == 'published_on' and sort_order == 'asc' %}class="active"{% endif %}><a href="{{ url_for('review.browse', entity_type=entity_type, sort='published_on', sort_order='asc') }}">{{ sort_options['published_on', 'asc'] }}</a></li>
    </ul>
  </div>
</ul>
<ul class="nav nav-pills">
  <li role="presentation" {{ "class=active" if entity_type == 'musicbrainz' }}>
    <a href="{{ url_for('review.browse', entity_type='musicbrainz', sort=sort, sort_order=sort_order) }}">{{ _('MusicBrainz') }}</a></li>
  <li role="presentation" {{ "class=active" if entity_type == 'release_group' }}>
    <a href="{{ url_for('review.browse', entity_type='release_group', sort=sort, sort_order=sort_order) }}">{{ _('Release group') }}</a></li>
  <li role="presentation" {{ "class=active" if entity_type == 'artist' }}>
    <a href="{{ url_for('review.browse', entity_type='artist', sort=sort, sort_order=sort_order) }}">{{ _('Artist') }}</a></li>    
  <li role="presentation" {{ "class=active" if entity_type == 'label' }}>
    <a href="{{ url_for('review.browse', entity_type='label', sort=sort, sort_order=sort_order) }}">{{ _('Label') }}</a></li>
  <li role="presentation" {{ "class=active" if entity_type == 'recording' }}>
    <a href="{{ url_for('review.browse', entity_type='recording', sort=sort, sort_order=sort_order) }}">{{ _('Recording') }}</a></li>
  <li role="presentation" {{ "class=active" if entity_type == 'event' }}>
    <a href="{{ url_for('review.browse', entity_type='event', sort=sort, sort_order=sort_order) }}">{{ _('Event') }}</a></li>
  <li role="presentation" {{ "class=active" if entity_type == 'place' }}>
    <a href="{{ url_for('review.browse', entity_type='place', sort=sort, sort_order=sort_order) }}">{{ _('Place') }}</a></li>
  <li role="presentation" {{ "class=active" if entity_type == 'work' }}>
    <a href="{{ url_for('review.browse', entity_type='work', sort=sort, sort_order=sort_order) }}">{{ _('Work') }}</a></li>
</ul>
<ul class="nav nav-pills">
  <li role="presentation" {{ "class=active" if entity_type == 'bookbrainz' }}>
    <a href="{{ url_for('review.browse', entity_type='bookbrainz', sort=sort, sort_order=sort_order) }}">{{ _('BookBrainz') }}</a></li>
  <li role="presentation" {{ "class=active" if entity_type == 'bb_edition_group' }}>
    <a href="{{ url_for('review.browse', entity_type='bb_edition_group', sort=sort, sort_order=sort_order) }}">{{ _('Edition Group') }}</a></li>
  <li role="presentation" {{ "class=active" if entity_type == 'bb_literary_work' }}>
    <a href="{{ url_for('review.browse', entity_type='bb_literary_work', sort=sort, sort_order=sort_order) }}">{{ _('Literary Work') }}</a></li>
  <li role="presentation" {{ "class=active" if entity_type == 'bb_author' }}>
    <a href="{{ url_for('review.browse', entity_type='bb_author', sort=sort, sort_order=sort_order) }}">{{ _('Author') }}</a></li>
  <li role="presentation" {{ "class=active" if entity_type == 'bb_series' }}>
    <a href="{{ url_for('review.browse', entity_type='bb_series', sort=sort, sort_order=sort_order) }}">{{ _('Series') }}</a></li>
</ul>

<div id="reviews-browse" class="row">
{% if not reviews %}
  <p class="lead" style="text-align: center;">{{ _('No reviews found') }}</p>
{% else %}
  {% for review in reviews %}
    {% set entity = entities[review.entity_id | string] %}
    <div class="col-md-4 review">
      <div class="cover-art-container pull-left">
        <a href="{{ url_for('review.entity', id=review.id) }}">
          {{ cover_art(entity.mbid, review.entity_type, overlay_type=True) }}
        </a>
      </div>
      <div class="album">{% include 'entity_review.html' %}</div>
      <div class="reviewer">
        <p>
          {{ review_credit(review) }}
          <br/>
          {{ review.published_on | date }}
        </p>
      </div>
    </div>
  {% endfor %}
{% endif %}
</div>

{{ display_pagination(page, count, limit, 'review.browse', {'entity_type':entity_type, 'sort':sort}) }}

{% endblock %}
