{% extends 'base.html' %}
{% from 'macros.html' import cover_art, review_credit with context %}

{% block title %}{{ _('Reviews') }} - CritiqueBrainz{% endblock %}

{% block content %}
<h2>{{ _('Reviews') }}</h2>
<p><em class="text-muted">{{ _('Ordered by creation date') }}</em></p>
<ul class="nav nav-pills">
  <li role="presentation" {{ "class=active" if entity_type == None }}>
    <a href="{{ url_for('review.browse', entity_type='all') }}">{{ _('All') }}</a></li>
  <li role="presentation" {{ "class=active" if entity_type == 'release_group' }}>
    <a href="{{ url_for('review.browse', entity_type='release_group') }}">{{ _('Release group') }}</a></li>
  <li role="presentation" {{ "class=active" if entity_type == 'event' }}>
    <a href="{{ url_for('review.browse', entity_type='event') }}">{{ _('Event') }}</a></li>
  <li role="presentation" {{ "class=active" if entity_type == 'place' }}>
    <a href="{{ url_for('review.browse', entity_type='place') }}">{{ _('Place') }}</a></li>
</ul>

<div id="reviews-browse" class="row">
{% if not reviews %}
  <p class="lead" style="text-align: center;">{{ _('No reviews found') }}</p>
{% else %}
  {% for review in reviews %}
    {% set entity = entities[review.entity_id | string] %}
    <div class="col-md-4 review">
      <div class="cover-art-container pull-left">
        <a href="{{ url_for('review.entity', id=review.id) }}">
          {{ cover_art(entity.id, review.entity_type, overlay_type=True) }}
        </a>
      </div>
      <div class="album">{% include 'entity_review.html' %}</div>
      <div class="reviewer">
        <p>
          {{ review_credit(review, user_picture_size=16) }}
          <br/>
          {{ review.created | date }}
        </p>
      </div>
    </div>
  {% endfor %}
{% endif %}
</div>

{% if count > limit %}
  <div class="col-md-12">
    <ul class="pager">
      {% if page > 1 %}
        <li class="previous"><a href="{{ url_for('review.browse', entity_type=entity_type, page=page-1) }}">&larr; {{ _('Previous') }}</a></li>
      {% endif %}
      {% if page-1 < count//limit %}
        <li class="next"><a href="{{ url_for('review.browse', entity_type=entity_type, page=page+1) }}">{{ _('Next') }} &rarr;</a></li>
      {% endif %}
    </ul>
  </div>
{% endif %}

{% endblock %}
