{% extends 'base.html' %}
{% from 'macros.html' import cover_art %}

{% block title %}{{ _('Reviews') }} - CritiqueBrainz{% endblock %}

{% block content %}
<h2>{{ _('Reviews') }}</h2>
<p><em class="text-muted">{{ _('Ordered by creation date') }}</em></p>

<div id="reviews-browse" class="row">
  {% for review in reviews %}
    {% set entity = entities[review.entity_id] %}
    <div class="col-md-4 review">
      <div class="cover-art-container pull-left">
        <a href="{{ url_for('review.entity', id=review.id) }}">
          {{ cover_art(entity.id, review.entity_type) }}
        </a>
      </div>
      <div class="album">{% include 'entity_review.html' %}</div>
      <div class="reviewer">
        <p>
          {{ _('Review by %(user)s', user = '<img class="avatar" src="%s&s=16" /> '|safe % review.user.avatar + '<a href="%s">%s</a>'|safe % (url_for('user.reviews', user_id=review.user.id), review.user.display_name)) }}
          <br />{{ review.created | date }}
        </p>
      </div>
    </div>
  {% endfor %}
</div>

{% if count > limit %}
  <div class="col-md-12">
    <ul class="pager">
      {% if page > 1 %}
        <li class="previous"><a href="{{ url_for('review.browse', page=page-1) }}">&larr; {{ _('Previous') }}</a></li>
      {% endif %}
      {% if page-1 < count//limit %}
        <li class="next"><a href="{{ url_for('review.browse', page=page+1) }}">{{ _('Next') }} &rarr;</a></li>
      {% endif %}
    </ul>
  </div>
{% endif %}

{% endblock %}
