{% extends 'base.html' %}

{% block title %}{{ _('Difference between revisions') }} - CritiqueBrainz{% endblock %}

{% block content %}
  <div id="diff" class="row">
    <div class="col-md-6">
      <div class="diff-header">
        <h3>{{ _('Revision') }} {{ left['number'] }}</h3>
        <p class="small">{{ _('as of') }} {{ left['timestamp'] | datetime }}</p>
      </div>
      {% if left.rating or right.rating %}
        <input type="number" class="rating" id="rating" value={{ left['rating'] }} data-readonly data-inline />
      {% endif %}
      <div class="diff-content">{{ left['text'] | safe }}</div>
    </div>
    <div class="col-md-6">
      <div class="diff-header">
        <h3>{{ _('Revision') }} {{ right['number'] }}</h3>
        <p class="small">{{ _('as of') }} {{ right['timestamp'] | datetime }}</p>
      </div>
      {% if right.rating or left.rating %}
        <input type="number" class="rating" id="rating" value={{ right['rating'] }} data-readonly data-inline />
      {% endif %}
      <div class="diff-content">{{ right['text'] | safe }}</div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ get_static_path('rating.js') }}"></script>
{% endblock %}
