{% extends 'base.html' %}

{% set entity = review.entity_id | entity_details(entity_type=review.entity_type) %}
{% if entity.title is defined %}
  {% set e_title = entity.title %}
{% elif entity.name is defined %}
  {% set e_title = entity.name %}
{% else %}
  {% set e_title = _('Unknown entity') %}
{% endif %}

{% block title %}{{ _('Report %(user)s’s review of "%(title)s"', title=e_title, user=review.user.display_name) }} - CritiqueBrainz{% endblock %}

{% block content %}
  <h2>{{ _('Report %(user)s’s review of "%(title)s"', title=e_title, user=review.user.display_name) }}</h2>
  <hr />

  {% for field in form.errors %}
    {% for error in form.errors[field] %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endfor %}

  <div class="row">
    <div class="col-md-7">
      <form method="POST" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <div>{{ form.reason(class="form-control", required="required", placeholder=_('Please provide a description of the violation (required)')) }}</div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{ _('Report review') }}</button>
          <a href="{{ request.referrer or url_for('.entity', id=review.id) }}" class="btn btn-default">{{ _('Cancel') }}</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
