{% extends 'base.html' %}

{% block title %}{{ _('Write review of "%(rg)s"', rg=release_group.title) }} - CritiqueBrainz{% endblock %}

{% block content %}
{% for field in form.errors %}
  {% for error in form.errors[field] %}
  <div class="alert alert-danger">
    {{ error }}
  </div>
  {% endfor %}
{% endfor %}
<h2>{{ _('Write review') }}</h2>
<dl class="dl-horizontal">
  <dt>{{ _('Artist') }}</dt><dd>{{ release_group['artist-credit-phrase'] }}</dd>
  <dt>{{ _('Release group') }}</dt>
  <dd>
    {{ release_group.title }}
    {% if release_group['first-release-date'] %}
      <span class="text-muted">({{ release_group['first-release-date'][:4] }})</span>
    {% endif %}
  </dd>
</dl>

<div class="clearfix">
  <ul class="nav nav-tabs" style="margin-bottom:-1px;">
    <li class="active"><a href="#write" data-toggle="tab">{{ _('Write') }}</a></li>
    <li><a href="#preview" data-toggle="tab">{{ _('Preview') }}</a></li>
    <small class="text-muted pull-right" style="margin-top:20px;font-style:italic;">
      {{ _('You can use <a href="%(url)s">Markdown</a> syntax to apply custom formatting.', url='http://daringfireball.net/projects/markdown/syntax') }}
    </small>
  </ul>
</div>
<form id="review-editor" method="POST" class="form-horizontal" role="form">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <div class="col-sm-12 tab-content">
      <div class="tab-pane fade in active" id="write">
        {{ form.text(id="review-content", class="form-control", rows="5") | safe }}
      </div>
      <div class="tab-pane fade" id="preview" style="margin-top:20px;">
        <span class="text-muted">{{ _('Loading preview...') }}</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="review-language">{{ _('Please, specify language of this review:') }}</label>
    <div class="col-sm-8">{{ form.language(id="review-language", class="form-control") | safe }}</div>
  </div>
  <hr />  
  <div class="form-group">
	<div class="col-sm-12">	
	  {% for choice in form.license_choice %}
      <div class="radio">
        <label>{{ choice }}{{ choice.label.text | safe }}</label>
      </div>
	  {% endfor %}
	</div>
  </div>
  <div class="form-group">
	<div class="col-sm-12">
	  <div class="checkbox">
		<label id="agreement">
		  {{ form.licence() | safe }}
		  {{ _('You acknowledge and agree that your contributed reviews to CritiqueBrainz are licensed under a
		  Creative Commons Attribution-ShareAlike 3.0 Unported or Creative Commons Attribution-ShareAlike-NonCommercial
		  license as per your choice above. You agree to license your work under this license.
		  You represent and warrant that you own or control all rights in and to the work, that nothing in the work
		  infringes the rights of any third-party, and that you have the permission to use and to license the work
		  under the selected Creative Commons license. Finally, you give the MetaBrainz Foundation permission to license
		  this content for commercial use outside of Creative Commons licenses in order to support the operations of the organization.') }}
		</label>
	  </div>
	</div>
  </div>
  <div class="form-group">
	<div class="col-sm-12">
	  <button type="submit" class="btn btn-primary">{{ _('Publish') }}</button>
	</div>
  </div>
</form>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(function () {
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        if (e.target.hash.substring(1) == "preview") {
          $.ajax({
            type: "POST",
            url: "{{ url_for('review.preview') }}",
            data: {
              text: $("#review-content").val()
            },
            success: function (data) {
              $("#preview").html(data);
            }
          });
        } else { // write
          $("#preview").html('<span class="text-muted">{{ _('Loading preview...') }}</span>');
        }
      });
    });
  </script>
{% endblock %}