{% extends 'base.html' %}

{% block title %}{{ _('About the project') }} - CritiqueBrainz{% endblock %}

{% block content %}
<h2>{{ _('About the project') }}</h2>

<h3>{{ _('What is CritiqueBrainz?') }}</h3>
<p>
  {{ _('<strong>CritiqueBrainz is a repository for Creative Commons licensed music and book reviews.</strong>
  It is based on data from MusicBrainz and BookBrainz, open music and book encyclopedias.') }}
</p>

<h3>{{ _('What is it for?') }}</h3>
<p>
  {{ _('Projects like Wikipedia, MusicBrainz and BookBrainz are good at aggregating information
  about music and books, but their purpose is not suited to expressing opinions.
  CritiqueBrainz fills the gap between raw data and music and book critics.') }}
</p>
<p>
  {{ _('This is an open platform. That means everyone can participate and contribute.
  If you want to share your thoughts, you can rate and/or review an album or a book.
  If you would like, you can read our guide on
  <a href=”https://wiki.musicbrainz.org/How_to_write_Good_Critiquebrainz_Reviews”>How to Write Good CritiqueBrainz Reviews</a>.
  If you just want to read opinions, that\'s fine too.') }}
</p>
<p>
  {{ _('After reading a review you can mark it as useful or not. This helps other
  music and book enthusiasts find good reviews.') }}
</p>

<h3>{{ _('Code of Conduct') }}</h3>
<p>
  {{ _('CritiqueBrainz users are expected to abide by the
 <a href="https://metabrainz.org/code-of-conduct">MetaBrainz code of conduct</a>.') }}
</p>

<h3>{{ _('Guidelines') }}</h3>
<p>
  {{ _('Content has to be a \'review\' or a otherwise genuine reflection on the entity.
 Artists/labels are welcome to reflect on their own work, as long as it meets this requirement
 - primarily promotional or SEO content will be hidden.') }}
</p>
<p>
  {{ _('Your submissions must be your original work. Do not submit content that you do not hold
  the copyright to, or is not your own. This includes plagiarism and primarily LLM (Large Language
  Model) or AI generated content. You may wish to use LLM as a tool, but be aware that obviously
  LLM generated content will be removed.') }}
</p>
<p>
  {{ _('If you have had a review hidden please check the Code of Conduct and the guidelines,
 above, for why this may have happened. For further discussion contact
 <a href="https://metabrainz.org/contact">MetaBrainz support</a>.') }}
</p>

{% endblock %}
