{% extends 'base.html' %}

{% block title %}{{ _('About the project') }} - CritiqueBrainz{% endblock %}

{% block content %}
<h2>{{ _('About the project') }}</h2>

<h3>{{ _('What is CritiqueBrainz?') }}</h3>
<p>
  {{ _('<strong>CritiqueBrainz is a repository for Creative Commons licensed music reviews.</strong>
  Here you can read what others have written about an album or event and write your own review!
  It is based on data from MusicBrainz - open music encyclopedia.') }}
</p>

<h3>{{ _('What is it for?') }}</h3>
<p>
  {{ _('Projects like Wikipedia and MusicBrainz are good at aggregating information about
  music, but not suited for expressing opinions about it. That\'s not their purpose.
  CritiqueBrainz fills the gap between music critics and raw data.') }}
</p>
<p>
  {{ _('This is an open platform. That means everyone - including you - can participate
  and contribute. If you are good at writing and want to share your thoughts about
  an album - feel free to write a new review. If that\'s not your thing and you just
  want to read opinions - that\'s fine too.') }}
</p>
<p>
  {{ _('After reading a review you can mark it as useful or not. That will help other
  music enthusiasts like you find good reviews.') }}
</p>

<h3>{{ _('Code of Conduct') }}</h3>
<p>
  {{ _('CritiqueBrainz users are expected to abide by the
 [a href="https://metabrainz.org/code-of-conduct"]MetaBrainz code of conduct[/a].') }}
</p>

<h3>{{ _('Guidelines') }}</h3>
<p>
  {{ _('Content has to be a 'review' or a otherwise genuine reflection on the entity.
 Artists/labels are welcome to reflect on their own work, as long as it meets this requirement
 - primarily promotional or SEO content will be hidden.') }}
</p>
<p>
  {{ _('No plagiarising or copying from other sources, unless you are the copyright holder.
 If you're not sure if you are allowed to post it, don't.') }}
</p>
<p>
  {{ _('If you have had a review hidden please check the Code of Conduct and the guidelines,
 above, for why this may have happened. For further discussion contact
 [a href="https://metabrainz.org/contact"]MetaBrainz support[/a].') }}
</p>


{% endblock %}
