{% extends 'base.html' %}

{% block title %}{{ _('Review guidelines') }} - CritiqueBrainz{% endblock %}

{% block content %}

  <h2>{{ _('Review guidelines') }}</h2>

  {{ print_message(_('
      <strong>Please note that this is an early version of the guidelines page.</strong>
      Feel free to suggest improvements to this page and report any issues that you find. Thanks!
  '), 'warning') }}

  <h3>{{ _('General tips') }}</h3>
  <p>
    <strong>{{ _('Read some good reviews') }}</strong>
    <br />{{ _('You can find a lot of great reviews on CritiqueBrainz and other websites. Use them for inspiration.') }}
  </p>
  <p>
    <strong>{{ _('Write in a comfortable voice') }}</strong>
    <br />{{ _('A good review probably won\'t sound like an academic paper, and probably won\'t sound like a YouTube
                comment, but it should sound like <em>you</em>.') }}
  </p>
  <p>
    <strong>{{ _('Reviews on CritiqueBrainz don\'t have to be in English') }}</strong>
    <br />{{ _('You are more than welcome to write review in a language that you prefer to use. Choose a language in
                which you can express your emotions/thoughts freely.') }}
  </p>

  <h3>{{ _('Formatting') }}</h3>
  <p>
    {{ _('Reviews can use the <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a> markup language. This should
          make it easier to write reviews and format them well. Use it to emphasize parts of your review, add links to
          additional information, insert images when necessary.') }}
  </p>
  <p>
    {{ _('Properly formatted review is easier to read and understand.') }}
  </p>

  <h3>{{ _('Content tips') }}</h3>
  <ul>
    <li>
      <strong>{{ _('Write a short description.') }}</strong>
      {{ _('Provide a context for the thing that you are reviewing.') }}
    </li>
    <li>
      <strong>{{ _('Follow your thinking and feelings.') }}</strong>
      {{ _('A good reviewer is one who reviews a something based on what <em>they</em> feel rather than others.') }}
    </li>
    <li>
      <strong>{{ _('Good reviews are neither too short nor too long') }}</strong>
      {{ _('It\'s better to make your reviews neither too short nor too long. Try to write something which gives readers
            a clear image as to what something is like while not being too boring.') }}
    </li>
    <li>
      <strong>{{ _('Don\'t mention just the factual data.') }}</strong>
      {{ _('Sometimes people mention only factual data in their reviews which makes a review look more like a press release.') }}
    </li>
  </ul>

  <h3>{{ _('Specific review types') }}</h3>
  <em>{{ _('In addition to the general tips given above, here are some specific tips for each review type which might
           help you to strengthen your review.') }}</em>

  <h4>{{ _('Albums (Release Groups)') }}</h4>
  <ul>
    <li>
      {{ _('Describing the instrumental arrangement - Mentioning about the rhythmic effects, describing the variety of
      instruments used in the song and how were the digital effects etc.') }}
    </li>
    <li>
      {{ _('You may tell about lyrics and the recording quality -') }}
      <dl>
        <dd>
          {{ _('Lyrics is what makes a song/album meaningful. You can always right about how were the lyrics? Was it
          meaningful? Did it match the music?') }}
        </dd>
        <dd>
          {{ _('Recording quality matters a lot. If it\'s good it\'s good but if it\'s bad it will flop the whole album. It\'s
          always better to note these things and mention about it in your review.') }}
        </dd>
      </dl>
    </li>
    <li>
      {{ _('Be clear with your conclusion - If it\'s a must hear album give it some direction. It\'s always good to mention
      the genre of the music. You may try to compare it with some other album which has been already released having the
      same genre which will give the readers an idea as to what they can expect.') }}
    </li>
  </ul>

  <h4>{{ _('Events') }}</h4>
  <ul>
    <li>
      {{ _('Describe the event place - Event reviews are enhanced by description of the event venue as to how big was it?
      Was it sufficient for the crowd? or How well the band/artist sound in it?') }}
    </li>
    <li>
      {{ _('Writing about the music played there - You may describe which songs were played in the event. Which were your
      favourite songs played, you can write about the staging of the band. Were there any things which you didn\'t like?
      If yes, then why?') }}
    </li>
    <li>
      {{ _('Special moments, effects and surprises - Often there are special moments in every event, you may describe such
      moments that took place. You may also write about special guests(if any) also any special effects in the event
      which caught everyone\'s attention.') }}
    </li>
    <li>
      {{ _('Writing about Event atmosphere - You may always describe about the crowd, how well the artists/band were able to
      entertain the crowd? Was the crowd exciting or was it a monotonous atmosphere?') }}
    </li>
  </ul>

  <h4>{{ _('Places') }}</h4>
  <ul>
    <li>
      {{ _('Description about the location - You may describe where the place is located, whether it\'s located in the heart
      of the city or is it located on the periphery.') }}
    </li>
    <li>
      {{ _('Writing about the architecture - If it\'s a musical stadium people want to know about how many people can the
      place occupy, how well the artist sounds in each corner of the place etc.') }}
    </li>
  </ul>

  <p>
    <strong>{{ _('💡 Note:') }}</strong>
    {{ _('Try to be <strong>honest</strong> while reviewing, simply don\'t follow the trend. Review the album as to what
    you felt. And try to follow active voice.') }}
  </p>

  <h3>{{ _('Common mistakes') }}</h3>
  <ul>
    <li>{{ _('Writing long reviews that lack specific details.') }}</li>
    <li>{{ _('Forgetting to check the factual information in the review after completing the writing process.') }}</li>
    <li>{{ _('Overlooking proofreading</strong> the review after finishing it.') }}</li>
    <li>{{ _('Mistakes such as punctuation, typo errors, capitalization etc.') }}</li>
    <li>{{ _('Writing in slangs - Try to write in proper English (or whatever language you prefer).
              It\'s better not to write reviews in slangs.') }}</li>
  </ul>

  <h3>{{ _('Additional material') }}</h3>
  <strong>{{ _('Some good review websites:') }}</strong>
  <ul>
    <li><a href="https://pitchfork.com/reviews/albums/">pitchfork.com</a></li>
    <li><a href="https://exclaim.ca/music/reviews">exclaim.ca</a></li>
    <li><a href="https://www.nme.com/reviews">nme.com</a></li>
  </ul>
{% endblock %}
