{% extends 'base.html' %}

{% block title %}Matching confirmation - CritiqueBrainz{% endblock %}

{% block content %}
<h2>Spotify album matching</h2>
<div class="text-center">
  <strong style="font-size: 16px">
    Are you sure want to connect <b>"{{ release_group.title }}" - {{ release_group.artist }}</b>
    with Spotify URI: <b>{{ spotify_uri }}</b> ?
  </strong>
  <hr />
  <iframe src="https://embed.spotify.com/?uri={{ spotify_uri }}&theme=white"
          width="100%" height="80" frameborder="0" allowtransparency="true"></iframe>
  <hr />
  <form role="form" method="POST" action="{{ url_for('matching.spotify_submit', spotify_uri=spotify_uri, release_group_id=release_group.id) }}">
    <button type="submit" class="btn btn-success">Connect</button>
    <a href="{{ url_for('release_group.entity', id=release_group.id) }}" class="btn btn-danger">Cancel</a>
  </form>
</div>
{% endblock %}
