{% extends 'base.html' %}

{% block title %}{{ _('Spotify album matching') }} - CritiqueBrainz{% endblock %}

{% block content %}
<h2>{{ _('Spotify album matching') }}</h2>
<p class="lead">
  {% if release_group['first-release-date'] %}
    {% set album = '"%s" <span class="text-muted">(%s)</span>' % (release_group.title, release_group['first-release-date'][:4]) %}
  {% else %}
    {% set album = '"%s"' % release_group.title %}
  {% endif %}

  {% autoescape false %}
  {{ _('Please, select the album %(album)s by %(artist)s', album=album, artist=release_group['artist-credit-phrase']) }}
  {% endautoescape %}
</p>
{% if search_results %}
  <div id="spotify-search-results" class="row">
    {% for item in search_results %}
    <div class="col-md-3">
      <div class="thumbnail">
        <div class="cover-art-container">
          <a href="{{ url_for('matching.spotify_submit', release_group_id=release_group.id, spotify_uri=item.uri) }}" class="match-link" data-toggle="tooltip" data-placement="bottom" title="This is the same album!">
            <img class="img-responsive" src="{{ item.images[0].url }}" />
          </a>
        </div>
        <div class="caption">
          <div class="title">{{ item.name }}</div>
          <span class="text-muted">{{ item.album_type }}</span><br />
          <em><a href="{{ item.external_urls.spotify }}">{{ _('Listen on Spotify') }}</a></em><br />
        </div>
      </div>
    </div>
    {% endfor %}
    <script>$('.match-link').tooltip()</script>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <ul class="pagination">
        {% set pages = count//limit %}
        {% if count%limit %}
          {% set pages = pages+1 %}
        {% endif %}
        {% if pages>1 %}
          {% for p in range(pages) %}
            {% set p_offset = p*limit %}
            <li {% if offset == p_offset %}class="active"{% endif %}>
              <a href="{{ url_for('matching.spotify', release_group_id=release_group.id, offset=p*limit) }}">{{ p+1 }}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
{% else %}
  <p class="lead" style="text-align:center; margin-top:20px;">{{ _('Similar albums not found') }}</p>
{% endif %}

<strong>
  {{ _('It\'s fine if you can\'t find the right album. It might not be available on Spotify yet.') }}
  {{ _('You can <a href="%(link)s">go back to the release group page</a>.', link=url_for('release_group.entity', id=release_group.id)) }}
</strong>
{% endblock %}
