{% extends 'base.html' %}

{% block title %}{{ _('Moderators') }} - CritiqueBrainz{% endblock %}

{% block content %}
<div class="container">
  <h1>Moderators</h1>
  <div id="list">
    {% for item in db_admins %}
      {% if item.id %}
        <img src="{{ item.avatar_url }}" width="25px" height="25px">
        <a href="{{ url_for('user.info', user_id=item.id) }}" style="margin-right: 3px"> {{ item.display_name }} </a>
      {% else %}
        <img src="{{ item.avatar_url }}" width="25px" height="25px">
        <p style="display:inline-block; margin-right: 3px"> {{ item.display_name }} </p>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
