{% extends 'base.html' %}

{% block title %}
{% if request.args.get('query', default=False) %}
  {{ _('Search results') }}
{% else %}
  {{ _('Search') }}
{% endif %}
- CritiqueBrainz
{% endblock %}

{% block content %}
<h3>{{ _('Search') }}</h3>

<form method="GET" class="form-horizontal" role="form">
  <div class="form-group">
    <label for="input-query" class="col-sm-2 control-label">{{ _('Query') }}</label>
    <div class="col-sm-3">
      <input id="input-query" name="query" class="form-control" value="{{ request.args.get('query', default='') }}">
    </div>
  </div>
  <div class="form-group">
    <label for="type-selector" class="col-sm-2 control-label">{{ _('Type') }}</label>
    <div class="col-sm-2">
      <select id="type-selector" name="type" class="form-control">
        <option value="artist" {% if type=="artist" %}selected="selected"{% endif %}>{{ _('Artist') }}</option>
        <option value="release-group" {% if type=="release-group" %}selected="selected"{% endif %}>{{ _('Release group') }}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">{{ _('Search') }}</button>
    </div>
  </div>
</form>

{% if request.args.get('query', default=False) %}
  <hr />
  {% if not results %}
    <p class="lead" style="text-align: center;">{{ _('No results found') }}</p>
  {% else %}
    {% if type=="artist" %}
      <table class="table table-hover">
        <thead>
        <tr>
          <th>{{ _('Name') }}</th>
          <th>{{ _('Sort name') }}</th>
          <th>{{ _('Type') }}</th>
          <th>{{ _('Country') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
          <tr>
            <td>
              <a href="{{ url_for('artist.entity', id=result.id) }}">{{ result['name'] }}</a>
              {% if result['disambiguation'] %}<span class="text-muted">({{ result['disambiguation'] }})</span>{% endif %}
            </td>
            <td>{{ result['sort-name'] }}</td>
            <td>{{ result['type'] or '-' }}</td>
            <td>{{ result['country'] or '-' }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% elif type=="release-group" %}
      <table class="table table-hover">
        <thead>
        <tr>
          <th>{{ _('Release group') }}</th>
          <th>{{ _('Artist') }}</th>
          <th>{{ _('Type') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
          <tr>
            <td>
              <a href="{{ url_for('release_group.entity', id=result.id) }}">{{ result['title'] }}</a>
              {% if result['disambiguation'] %}<span class="text-muted">({{ result['disambiguation'] }})</span>{% endif %}
            </td>
            <td><a href="{{ url_for('artist.entity', id=result['artist-credit'][0].artist.id) }}">{{ result['artist-credit-phrase'] }}</a></td>
            <td>{{ result['primary-type'] or '-' }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
    <ul class="pagination">
      {% set pages = count//limit %}
      {% if count%limit %}
        {% set pages = pages+1 %}
      {% endif %}
      {% if pages>1 %}
        {% for p in range(pages) %}
          {% set p_offset = p*limit %}
          <li {% if offset == p_offset %}class="active"{% endif %}>
            <a href="{{ url_for('search.index', query=query, type=type, offset=p*limit) }}">{{ p+1 }}</a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  {% endif %}
{% endif %}
{% endblock %}