.git

# Docker configuration
/docker

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
env
venv
/build

# Node
node_modules

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Application data
data

# Configuration
consul_config.py
custom_config.py

# Test results
htmlcov
.coverage

.transifexrc
