# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
env
venv

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Backups and dumps
/dump/
/backup/

# Test results
/cover/
nosetests.xml
.tox/
.cache
.coverage

# Vagrant
.vagrant
