git+https://github.com/metabrainz/brainzutils-python.git@v1.1.0
beautifulsoup4==4.4.1
coverage==4.1
click==6.6
Flask-Babel==0.11.1
Flask-Login==0.3.2
Flask-SQLAlchemy==2.1
Flask-Testing==0.6.1
Flask-WTF==0.12
Markdown==2.6.6
musicbrainzngs==0.6
pytest==3.0.4
pytest-cov==2.4.0
psycopg2==2.6.1
pycountry==1.20
python-dateutil==2.5.3
rauth==0.7.2
requests==2.10.0
SQLAlchemy==0.9.9
transifex-client==0.11
WTForms==2.1
