{% extends 'profile/base.html' %}

{% block title %}{{ _('Create application') }} - CritiqueBrainz{% endblock %}

{% block content %}
{% for field in form.errors %}
  {% for error in form.errors[field] %}
  <div class="alert alert-danger">
    {{ error }}
  </div>
  {% endfor %}
{% endfor %}
<h2>{{ _('Create API client') }}</h2>
<hr />
<form method="POST" class="form-horizontal" role="form">
  {{ form.hidden_tag() }}
  <fieldset>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ _('Client name') }}</label>
      <div class="col-sm-5">{{ form.name(class="form-control") | safe }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ _('Client description') }}</label>
      <div class="col-sm-5">{{ form.desc(class="form-control") | safe }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ _('Website') }}</label>
      <div class="col-sm-5">{{ form.website(class="form-control") | safe }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ _('Redirect URI') }}</label>
      <div class="col-sm-5">{{ form.redirect_uri(class="form-control") | safe }}</div>
    </div>
  </fieldset>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">{{ _('Create') }}</button>
    </div>
  </div>
</form>
{% endblock %}
