{% extends 'review/entity/base.html' %}
{% from 'macros.html' import show_life_span with context %}

{% set artist = entity %}

{% block title %}
  {% set artist_name = artist.name | default(_('[Unknown artist]')) %}
  {{ _('Review of "%(artist)s" by %(user)s', artist=artist_name, user=review.user.display_name) }} - CritiqueBrainz
{% endblock %}

{% block entity_title %}
  <h2 id="title">
    {% if artist %}
      {% set artist_name = '<a href="%s">' | safe % url_for('artist.entity', id=review.entity_id) ~ artist.name ~ '</a>'|safe %}
    {% else %}
      {% set artist_name =  _('[Unknown artist]') %}
    {% endif %}

    {{ _('%(artist)s', artist=artist_name) }}

    <small>
      {{ show_life_span(artist, False) }}
    </small>
  </h2>
{% endblock %}

{% block show_entity_type %}
  <h4>
    <img src="{{ get_static_path('favicons/musicbrainz-16.svg') }}"/>
    {{ _('MusicBrainz Artist') }} <a href="https://musicbrainz.org/artist/{{ review.entity_id }}">{{ _('View on MusicBrainz') }}</a>
  </h4>
{% endblock %}
