{% extends 'base.html' %}
{% from 'macros.html' import review_credit, cover_art, show_avg_rating with context %}

{% block content %}
<div id="review-entity">
  {% block entity_title %}{% endblock %}
  {% if avg_rating %}
    {{ show_avg_rating(avg_rating.rating, avg_rating.count) }}
  {% endif %}

  <div id="review-content" class="row">
    {% block sidebar %}{% endblock %}

    <div class="col-md-{% if sidebar_visible %}9{% else %}12{% endif %}">
      <h3>{{ review_credit(review, user_picture_size=24) }}</h3>

      {% if review.is_draft %}
        <div class="alert alert-warning" role="alert">{{ _('<b>This review has not been published yet!</b> Only you can see it.') }}</div>
      {% else %}
        <em class="text-muted">{{ _('Published on %(date)s', date = review.created|date) }}</em><br />
        {% if review.text %}
          <em class="text-muted">{{ _('Written in %(language)s', language = review.language|language_name) }}</em><br />
          {% set votes_total = review.votes.positive + review.votes.negative %}
          <em class="text-muted">
            {% if votes_total > 0 %}
              {{ _('%s out of %s people have found this review useful' % (review.votes.positive, votes_total)) }}
            {% else %}
              {{ _('This review has not yet been rated') }}
            {% endif %}
          </em>
        {% endif %}
      {% endif %}

      {% if review.rating %}
        <div style="margin-top: 15px;">
          <input type="number" class="rating" id="rating" value={{ review.rating }} data-readonly data-inline />
        </div>
      {% endif %}
      {% if review.text %}
        <!-- Used to display only-text review properly -->
        {% if review.rating %}
          <p style="word-wrap: break-word; white-space: pre-wrap; display: inline;">{{ review.text_html|safe }}</p>
        {% else %}
          <p style="word-wrap: break-word; white-space: pre-wrap;">{{ review.text_html|safe }}</p>
        {% endif %}
      {% endif %}
      
      <hr />

      {% if not review.is_draft %}
        {% include 'sharing.html' %}
      {% endif %}

      {# Legal stuff #}
      <small class="text-muted">
        {% if review.license.info_url %}
          {% set license = '<a href="%s">%s</a>'|safe % (review.license.info_url, review.license.id ) %}
        {% else %}
          {% set license = review.license.key %}
        {% endif %}
        {{ _('This review is licensed under a %(name)s license.', name=license) }}
        {% if review.source %}
          {{ _('It was imported from %(source)s.', source = '<a href="%s">%s</a>'|safe % (review.source_url, review.source)) }}
        {% endif %}
      </small>

      <hr />

      <div>
        {% if current_user.is_authenticated %}
          {% if current_user != review.user %}
            <div class="row">
              <div class="col-md-8">
                {% if review.text %}
                  <form method="POST" action="{{ url_for('review.vote_submit', review_id=review.id) }}">
                    {% if vote == None %}
                      {{ _('Did you find this review useful?') }}
                      <button type="submit" class="btn btn-default btn-xs {% if vote.vote == False %}disabled{% endif %}" name="yes">{{ _('Yes') }}</button>
                      <button type="submit" class="btn btn-default btn-xs {% if vote.vote == True %}disabled{% endif %}" name="no">{{ _('No') }}</button>
                    {% else %}
                      {% if vote.vote == True %}
                        <span class="text-success">{{ _('You found this review useful.') }}</span>
                      {% else %}
                        <span class="text-warning">{{ _('You didn\'t find this review useful.') }}</span>
                      {% endif %}
                      <a href="{{ url_for('review.vote_delete', id=review.id) }}" class="btn btn-default btn-xs" title="{{ _('Delete your vote') }}"><span class="glyphicon glyphicon-trash"></span></a>
                    {% endif %}
                  </form>
                {% endif %}
              </div>
              <div class="col-md-4" id="reporting">
                <a href="{{ url_for('review.report', id=review.id) }}" class="text-danger">{{ _('Report abuse') }}</a>
              </div>
            </div>
          {% else %}
            <a href="{{ url_for('review.edit', id=review.id) }}"
               role="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-edit"></span> {{ _('Edit this review') }}
            </a>
            <a href="{{ url_for('review.delete', id=review.id) }}"
               class="btn btn-danger btn-sm pull-right">
              <span class="glyphicon glyphicon-remove"></span> {{ _('Delete this review') }}
            </a>
            <!-- Used to display older revisions link properly -->
            <div class="clearfix" style="margin-bottom: 8px;"></div>
          {% endif %}
          <a id="old-revisions" href="{{ url_for('review.revisions', id=review.id) }}">{{ _('View older revisions') }}</a>
        {% else %}
          <div class="row">
            <div class="col-md-5">
              {% if review.text %}
                {{ _('<a href="%(link)s">Sign in</a> to rate this review', link=url_for('login.index', next=url_for('review.entity', id=review.id))) }}
              {% endif %}
            </div>
            <div class="col-md-4 col-md-offset-3">
              <a id="old-revisions" href="{{ url_for('review.revisions', id=review.id) }}">{{ _('View older revisions') }}</a>
            </div>
          </div>
        {% endif %}
      </div>

      {% if other_reviews %}
        <hr/>
        <h3>
          Other reviews by
          {{ '<a href="%s">%s</a>'|safe % (url_for('user.reviews', user_id=review.user.id), review.user.display_name) }}
        </h3>
        <div id="other-reviews" class="row">
          {% for review in other_reviews %}
            <div class="col-md-4 review">
              <div class="cover-art-container pull-left">
                <a href="{{ url_for('review.entity', id=review.id) }}">
                  {{ cover_art(review.entity_id, review.entity_type, overlay_type=True) }}
                </a>
              </div>
              {% set entity = review.entity_id | entity_details(type=review.entity_type) %}
              <div class="album">{% include 'entity_review.html' %}</div>
              {{ review.created | date }}
            </div>
          {% endfor %}
        </div>
      {% endif %}

     </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ get_static_path('rating.js') }}"></script>
{% endblock %}
