{% extends 'review/entity/base.html' %}
{% from 'macros.html' import show_life_span with context %}

{% set bb_edition_group = entity %}

{% block title %}
  {% set edition_group_name = bb_edition_group.name | default(_('[Unknown edition group]')) %}
  {{ _('Review of "%(edition_group)s" by %(user)s', edition_group=edition_group_name, user=review.user.display_name) }} - CritiqueBrainz
{% endblock %}

{% block entity_title %}
  <h2 id="title">
    {% if bb_edition_group %}
      {% set edition_group_name = '<a href="%s">' | safe % url_for('bb_edition_group.entity', id=review.entity_id) ~ bb_edition_group.name ~ '</a>'|safe %}
    {% else %}
      {% set edition_group_name =  _('[Unknown edition group]') %}
    {% endif %}

    {{ _('%(edition_group)s', edition_group=edition_group_name) }}
  </h2>
{% endblock %}