{% extends 'review/entity/base.html' %}

{% set bb_publisher = entity %}

{% block title %}
  {% set publisher_name = bb_publisher.name %}
  {{ _('Review of "%(bb_publisher)s" by %(user)s', bb_publisher=publisher_name, user=review.user.display_name) }} - CritiqueBrainz
{% endblock %}

{% block entity_title %}
  <h2 id="title">
    {% set publisher_name = '<a href="%s">' | safe % url_for('bb_publisher.entity', id=review.entity_id) ~ bb_publisher.name ~ '</a>'|safe %}
    {{ _('%(bb_publisher)s', bb_publisher=publisher_name) }}
    {% if bb_publisher.disambiguation is defined and bb_publisher.disambiguation %}
      <small>{{ bb_publisher.disambiguation }}</small>
    {% endif %}
  </h2>
{% endblock %}

{% block show_entity_type %}
  <h4>
    <img src="{{ get_static_path('favicons/bookbrainz-16.svg') }}"/>
    {{ _('BookBrainz Publisher') }} <a href="https://bookbrainz.org/publisher/{{ review.entity_id }}">{{ _('View on BookBrainz') }}</a>
  </h4>
{% endblock %}
