{% extends 'review/entity/base.html' %}

{% set event = entity %}

{% block title %}
  {% set event_title = event.name | default(_('[Unknown event]')) %}
  {{ _('Review of "%(event)s" by %(user)s', event=event_title, user=review.user.display_name) }} - CritiqueBrainz
{% endblock %}

{% block entity_title %}
  <h2 id="title">
    {% if event %}
      {% set event_name = '<a href="%s">' | safe % url_for('event.entity', id=review.entity_id) ~ event.name ~ '</a>'|safe %}
    {% else %}
      {% set event_name =  _('[Unknown event]') %}
    {% endif %}

    {{ _('%(event)s', event=event_name) }}

    {% if event['life-span'] %}
      <small>{{ event['life-span']['begin'][:4] }}</small>
    {% endif %}
  </h2>
{% endblock %}

{% if event['place-relation-list'] %}
  {% set place = event['place-relation-list'][0]['place'] %}
  {% if place['coordinates'] %}
    {% set lat = place['coordinates']['latitude'] | float %}
    {% set long = place['coordinates']['longitude'] | float %}
    {% set sidebar_visible = True %}
  {% endif %}
{% endif %}

{% block sidebar %}
  {% if lat %}
    <div id="sidebar" class="col-md-3">
      <div id="map"></div>
      <script src="{{ get_static_path('leaflet.js') }}"></script>
      <script>
        var map = L.map('map').setView([{{ lat }}, {{ long }}], 14);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
          attribution: '&copy; <a href="http://openstreetmap.org">OSM</a>, ' +
                       '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
        }).addTo(map);
        var popup = L.popup()
            .setContent("<b>" + {{ _("Held at") | tojson }} + "</b><br> " + {{ place['name'] | tojson }});
        var marker = L.marker([{{ lat }}, {{ long }}])
            .addTo(map)
            .bindPopup(popup)
            .openPopup();
      </script>
    </div>
  {% endif %}
{% endblock %}
