{% extends 'review/entity/base.html' %}
{% from 'macros.html' import show_life_span with context %}

{% set label = entity %}

{% block title %}
  {% set label_title = label.name | default(_('[Unknown label]')) %}
  {{ _('Review of "%(label)s" by %(user)s', label=label_title, user=review.user.display_name) }} - CritiqueBrainz
{% endblock %}

{% block entity_title %}
  <h2 id="title">
    {% if label %}
      {% set label_name = '<a href="%s">' | safe % url_for('label.entity', id=review.entity_id) ~ label.name ~ '</a>'|safe %}
    {% else %}
      {% set label_name =  _('[Unknown label]') %}
    {% endif %}

    {{ _('%(label)s', label=label_name) }}

    <small>
      {{ show_life_span(label, False) }}
    </small>
  </h2>
{% endblock %}

{% block show_entity_type %}
  <h4>
    <img src="{{ get_static_path('favicons/musicbrainz-16.svg') }}"/>
    {{ _('MusicBrainz Label') }} <a href="https://musicbrainz.org/label/{{ review.entity_id }}">{{ _('View on MusicBrainz') }}</a>
  </h4>
{% endblock %}
