{% extends 'review/entity/base.html' %}
{% from 'macros.html' import cover_art %}
{% from 'macros.html' import spotify_player %}

{% set release_group = review.entity_id | entity_details %}

{% block title %}
  {% set release_group_title = release_group.title | default(_('[Unknown release group]')) %}
  {{ _('Review of "%(rg)s" by %(user)s', rg=release_group_title, user=review.user.display_name) }} - CritiqueBrainz
{% endblock %}

{% block entity_title %}
  <h2 id="title">
    {% if release_group %}
      {% set rg_name = '<a href="%s">'|safe % url_for('release_group.entity', id=review.entity_id) ~ release_group.title ~ '</a>'|safe %}
    {% else %}
      {% set rg_name =  _('[Unknown release group]') %}
    {% endif %}

    {% if release_group['artist-credit'] %}
      {% set artist = [] %}
      {% for credit in release_group['artist-credit'] %}
        {% if credit.artist %}
          {% do artist.append('<a href="%s">'|safe % url_for('artist.entity', id=credit.artist.id) + credit.artist.name + '</a>'|safe) %}
        {% else %}
          {% do artist.append(credit) %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% set artist = _('[Unknown artist]') %}
    {% endif %}

    {{ _('%(album)s by %(artist)s', album = rg_name, artist = artist|join()) }}

    {% if release_group['first-release-date'] %}
      <small>{{ release_group['first-release-date'][:4] }}</small>
    {% endif %}
  </h2>
{% endblock %}

{% set sidebar_visible = True %}
{% block sidebar %}
  <div id="sidebar" class="col-md-3">
    {{ cover_art(review.entity_id, 'release_group', 'id=cover-art class=img-responsive') }}

    <div id="spotify-play-button">
      {{ spotify_player(spotify_mappings) }}
    </div>
  </div>
{% endblock %}
