{% extends 'base.html' %}
{% from 'macros.html' import show_avg_rating, entity_rate_form, show_review_buttons, display_pagination with context %}
{% from 'common.html' import rating_script with context %}

{% block title %}{{ literary_work.name }} - CritiqueBrainz{% endblock %}

{% block content %}
<div class="clearfix">
  <h2 class="pull-left">
    {{ literary_work.name }}
    {% if literary_work.disambiguation is defined and literary_work.disambiguation %}
      <small>({{ literary_work.disambiguation }})</small>
    {% endif %}
  </h2>
  {{ show_review_buttons(id, my_review, "bb_literary_work") }}
</div>

<div id="literary-work-details" class="row">
  <div class="col-md-9">
    {{ entity_rate_form('bb_literary_work', 'literary work') }}
    <br/><br/>
    <h4 style="margin-bottom:0;">{{ _('Reviews') }}</h4>
    {% if not reviews %}
      <p class="lead" style="text-align: center;">{{ _('No reviews found') }}</p>
    {% else %}
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th></th>
            <th>{{ _('Published on') }}</th>
            <th>{{ _('Votes (+/-)') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for review in reviews %}
            <tr data-review-id="{{ review.id }}">
              <td>
                <a href="{{ url_for('review.entity', id=review.id) }}">
                    {{ _('by %(reviewer)s', reviewer=review.user.display_name) }}
                </a>
              </td>
              <td>{{ review.published_on | date }}</td>
              <td>{{ review.votes_positive_count }}/{{ review.votes_negative_count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <ul class="pagination">
        {% set pages = count//limit %}
        {% if count%limit %}
          {% set pages = pages+1 %}
        {% endif %}
        {% if pages>1 %}
          {% for p in range(pages) %}
            {% set p_offset = p*limit %}
            <li {% if offset == p_offset %}class="active"{% endif %}>
              <a href="{{ url_for('bb_literary_work.entity', id=id, limit=limit, offset=p*limit) }}">{{ p+1 }}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    {% endif %}

    {% if mb_work_info is defined and mb_work_info %}
      {% for work in mb_work_info %}
        <h4> {{ _('This entity is also in the MusicBrainz Database as ') }}
          <a href="{{ url_for('work.entity', id=work.mbid ) }}">{{ work.name }}</a>.
        </h4>
        {% if work.reviews_count %}
          <h4 >{{ _('Reviews') }}</h4>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th></th>
                <th>{{ _('Published on') }}</th>
                <th>{{ _('Votes (+/-)') }}</th>
              </tr>
            </thead>
            <tbody>
              {% for review in work.reviews %}
                <tr data-review-id="{{ review.id }}">
                  <td>
                    <a href="{{ url_for('review.entity', id=review.id) }}">
                      {{ _('by %(reviewer)s', reviewer=review.user.display_name) }}
                    </a>
                  </td>
                  <td>{{ review.published_on | date }}</td>
                  <td>{{ review.votes_positive_count }}/{{ review.votes_negative_count }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if translation_rels_works %}
      <h4>{{ _('Translations of this work') }}</h4>
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>{{ _('Name') }}</th>
            <th>{{ _('Languages') }}</th>
            <th>{{ _('Type') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for translation_rel in translation_rels_works %}
            <tr>
              <td>
                <a href="{{ url_for('bb_literary_work.entity', id=translation_rel.bbid) }}">
                  {{ translation_rel.name }}
                </a>
              </td>
              <td>
                {% if translation_rel['languages'] is defined and translation_rel['languages'] %}
                  {% if translation_rel["languages"]|length > 1 %}
                    {{ translation_rel['languages'][0] }} + {{ translation_rel["languages"]|length - 1 }} more
                  {% else %}
                    {{ translation_rel['languages'][0] }}
                  {% endif %}
                {% else %}
                  -
                {% endif %}
              </td>
              <td>
                {% if translation_rel['work_type'] is defined and translation_rel['work_type']  %}
                  {{ translation_rel.work_type }}
                {% else %}
                  -
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {{ display_pagination(page, work_rels_count, work_rels_limit, 'bb_literary_work.entity', {'id': id}) }}

    {% endif %}

    {% if edition_groups_info %}
      <h4>{{ _('Edition Group of this work') }}</h4>
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>{{ _('Name') }}</th>
            <th>{{ _('Author') }}</th>
            <th>{{ _('Type') }}</th>
          </tr>
        </thead>
        <tbody>
          {% for edition_group in edition_groups_info %}
            <tr>
              <td>
                <a href="{{ url_for('bb_edition_group.entity', id=edition_group.bbid) }}">
                  {{ edition_group.name }}
                </a>
              </td>
              <td>
                {% if edition_group['author_credits'] is defined and edition_group['author_credits'] %}
                  {% if edition_group["author_credits"]|length > 1 %}
                    <a href="{{ url_for('bb_author.entity', id=edition_group['author_credits'][0]['author_bbid']) }}">
                      {{ edition_group['author_credits'][0]['name'] }}
                    </a> + {{ edition_group["author_credits"]|length - 1 }} more
                  {% else %}
                    <a href="{{ url_for('bb_author.entity', id=edition_group['author_credits'][0]['author_bbid']) }}">
                      {{ edition_group['author_credits'][0]['name'] }}
                    </a>
                  {% endif %}
                {% else %}
                  -
                {% endif %}
              </td>
              <td>
                {% if edition_group['edition_group_type'] is defined and edition_group['edition_group_type']  %}
                  {{ edition_group.edition_group_type }}
                {% else %}
                  -
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% endif %}

  </div>

  <div class="col-md-3">
    <h4>{{ _('Literary Work information') }}</h4>
    {% if literary_work['work_type'] is defined and literary_work['work_type']  %}
      <p class="text-muted">{{ literary_work.work_type }}</p>
    {% endif %}
    {% if avg_rating %}
      <div class="avg-rating">
        {{ show_avg_rating(avg_rating.rating, avg_rating.count) }}
      </div>
    {% endif %}
    
    {% if literary_work['languages'] is defined and literary_work['languages'] %}
        <b>{{ _('Languages') }}</b>
        <ul class="list-unstyled">
        {% for language in literary_work.languages %}
            <li>{{ language }}</li>
        {% endfor %}
        </ul>
    {% endif %}
      
    {% if literary_work['identifiers'] is defined and literary_work['identifiers'] %}
      <b>{{ _('External links') }}</b>
      <ul class="list-unstyled external-links">
        {% for identifier in literary_work['identifiers'] %}
          <li class="clearfix">
            <div class="favicon-container">
                {% if identifier.icon is defined and identifier.icon %}
                    <img src="{{ get_static_path('favicons/' + identifier.icon) }}" />
                {% else %}
                    <img src="{{ get_static_path('favicons/external-16.png') }}" />
                {% endif %}
            </div>
            <a href="{{ identifier.url }}">{{ identifier.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="external-links">
      <div class="favicon-container"><img src="{{ get_static_path('favicons/bookbrainz-16.svg') }}" /></div>
      <a href="https://bookbrainz.org/work/{{ literary_work.bbid }}"><em>{{ _('Edit on BookBrainz') }}</em></a>
    </div>
    <br/>

  </div>
</div>

{% endblock %}

{% block scripts %}
  {{ rating_script }}
{% endblock %}
