{% extends 'profile/base.html' %}
{% from 'macros.html' import rating_badge %}
{% block content %}
<div class="clearfix">
  <h2 class="pull-left">Publications</h2>
  <a href="{{ url_for("profile_publication.create") }}" class="btn btn-success pull-right" style="margin-top: 20px;">
    <i class="icon-asterisk icon-white"></i>
    Create
  </a>
</div>
<hr>
{% if not publications %}
<p class="lead" style="text-align: center;">No publication found</p>
{% else %}
<table class="table">
  <thead>
    <tr>
      <th>Hash</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Created on</th>
      <th>Rates (+/-)</th>
      <th>Class</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for publication in publications %}
    {% set album = publication.release_group|album_details %}
    <tr data-publication-id="{{ publication.id }}">
      <td>{{ publication.id[:5] }}</td>
      <td>{{ album.artist }}</td>
      <td>
        {{ album.title }}
        <span class="muted">({{ album.release_date }})</span>
      </td>
      <td>{{ publication.created | datetime }}</td>
      <td>{{ publication.rates_positive }}/{{ publication.rates_negative }}</td>
      <td>{{ publication.publication_class }}</td>
      <td>
        <a href="{{ url_for("publication.entity", id=publication.id) }}"><i class="icon-eye-open"></i></a>
        <a href="{{ url_for("profile_publication.edit", id=publication.id) }}"><i class="icon-edit"></i></a>
        <a href="{{ url_for("profile_publication.delete", id=publication.id) }}"><i class="icon-remove"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
  <ul>
  {% set pages = count//limit %}
  {% if count%limit %}
    {% set pages = pages+1 %}
  {% endif %}
  {% for p in range(pages) %}
    {% set p_offset = p*limit %}
    <li {% if offset == p_offset %}class="active"{% endif %}><a href="{{ url_for("profile_publication.index", limit=limit, offset=p*limit) }}">{{ p }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}
