{% extends 'base.html' %}

{% block title %}{% block error_title %}{% endblock %} - CritiqueBrainz{% endblock %}

{% block content %}
  <h2>{{ self.error_title() }}</h2>
  <p>{% block error_description %}{{ error.description }}{% endblock %}</p>
  <p><code>{% block error_info %}{{ error }}{% endblock %}</code></p>
  <p><a href="{{ url_for('frontend.index') }}">{{ _('Back to home page') }}</a></p>

  {% if config.LOG_SENTRY and config.LOG_SENTRY.dsn and event_id %}
    <script
      src="https://browser.sentry-cdn.com/6.2.4/bundle.min.js"
      integrity="sha384-b3mYy/x0ZxlqU5OjYvVD7RczftJVOXmpHSmrcqpL4c+kBSXWEnRL2Puv9eMjYmDq"
      crossorigin="anonymous">
    </script>

    <script>
      Sentry.init({
        dsn: '{{ config.LOG_SENTRY.dsn }}'
      });
      Sentry.showReportDialog({ eventId: '{{ event_id }}' });
    </script>
  {% endif %}
{% endblock %}
