{% extends 'base.html' %}

{% block title %}{{ _('Applications') }} - CritiqueBrainz{% endblock %}

{% block content %}
  <h2>{{ _('Applications') }}</h2>

  <div class="clearfix">
    <h3 class="pull-left">{{ _('Your applications') }}</h3>
    <a href="{{ url_for('profile_applications.create') }}" class="btn btn-success pull-right" style="margin-top:12px;">
      <span class="glyphicon glyphicon-asterisk"></span> {{ _('Create new application') }}
    </a>
  </div>
  {% if not applications %}
    <p class="lead" style="text-align: center;">{{ _('No applications found') }}</p>
  {% else %}
    <table class="table table-hover">
      <thead>
      <tr>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Website') }}</th>
        <th>{{ _('Client ID') }}</th>
        <th>{{ _('Client secret') }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for app in applications %}
        <tr>
          <td>{{ app.name }}</td>
          <td>{{ app.website }}</td>
          <td>{{ app.client_id }}</td>
          <td>{{ app.client_secret }}</td>
          <td>
            <a class="btn btn-primary btn-xs" href="{{ url_for('profile_applications.edit', client_id=app.client_id) }}">{{ _('Modify') }}</a>
            <a class="btn btn-danger btn-xs" href="{{ url_for('profile_applications.delete', client_id=app.client_id) }}">{{ _('Delete') }}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <div class="alert alert-info">{{ _('Developer documentation is available at %(link)s.', link='<a href="https://critiquebrainz.readthedocs.org/">critiquebrainz.readthedocs.org</a>'|safe) }}</div>

  <hr />

  <h3>{{ _('Authorized applications') }}</h3>
  {% if not tokens %}
    <p class="lead" style="text-align: center;">{{ _('No authorized applications found') }}</p>
  {% else %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{ _('Name') }}</th>
          <th>{{ _('Website') }}</th>
          <th>{{ _('Access') }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for token in tokens %}
          <tr>
            <td><b>{{ token.client_name }}</b></td>
            <td>{{ token.client_website }}</td>
            <td>
              {% if token.scopes %}
                <ul>
                  {% set scopes = token.scopes.split() %}
                  {% from 'macros.html' import scope_desc with context %}
                  {% for scope in scopes %}
                    <li>{{ scope_desc(scope) }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                {{ _('No special requirements') }}
              {% endif %}
            </td>
            <td>
              <a class="btn btn-danger btn-xs" href="{{ url_for('profile_applications.token_delete', client_id=token.client_id) }}">{{ _('Revoke access') }}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
