{% extends 'base.html' %}

{% block content %}
  {% block header %}{% endblock %}
  <hr />

  {% for field in form.errors %}
    {% for error in form.errors[field] %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endfor %}

  <div class="row">
    {% include ('review/modify/%s.html' % entity_type) %}
  </div>
  <hr />

  <form id="review-editor" method="POST" class="form-horizontal" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label class="col-sm-1" for="rating">{{ _('Rating:') }}</label>
      <div class="col-sm-2">{{ form.rating(class="rating", id="rating") }}</div>
    </div>
    <div class="form-group">
      <small class="text-muted pull-left" style="font-style:italic;">
        {{ _('You can use <a href="%(url)s" target="_blank">Markdown</a> syntax to apply custom formatting.',
             url='http://daringfireball.net/projects/markdown/syntax') }}
      </small><br/><br/>
      {{ form.text(id="review-content") }}
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="review-language">{{ _('Please, specify language of this review:') }}</label>
      <div class="col-sm-8">{{ form.language(id="review-language", class="form-control") }}</div>
    </div>
    <hr />
    {% if not review or review.is_draft %}
      <div class="form-group">
        <div class="col-sm-12">
          {% for choice in form.license_choice %}
            <div class="radio">
              <label>{{ choice }}{{ choice.label.text | safe }}</label>
            </div>
          {% endfor %}
          <br /><small class="text-warning"><em>{{ _('You cannot change the license after the review is published.') }}</em></small>
        </div>
      </div>
    {% endif %}
    {% block license_agreement_input %}{% endblock %}
  </form>
  {% block buttons %}{% endblock %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"/>
  <script src="{{ get_static_path('wysiwyg-editor.js') }}"></script>
  <script>
    $(document).ready(function() {
      new SimpleMDE({ element: $('#review-content')[0] });

      // Show warning when leaving review editor without saving changes
      var beingSaved = false;
      var oldData = $('#review-editor').serialize();
      $(window).bind('beforeunload', function(e) {
        if (beingSaved || (oldData == $('#review-editor').serialize())) {
          return undefined;
        }
        var confirmationMessage = "Your review has not been saved.";
        (e || window.event).returnValue = confirmationMessage;     // Gecko and Trident
        return confirmationMessage;                                // Gecko and WebKit
      });

      $("#btn-publish").click(function(){
        beingSaved = true;
        $("#state").attr('value', 'publish');
        $("#review-editor").submit();
      });
      if ('{{not review or review.is_draft}}'){
        $("#btn-draft").click(function(){
          beingSaved = true;
          $("#state").attr('value', 'draft');
          $("#review-editor").submit();
        });
      }
    });
  </script>
  <script src="{{ get_static_path('rating.js') }}"></script>
{% endblock %}
