<div class="col-md-12">
  <dl class="dl-horizontal">
    <dt>{{ _('Event') }}</dt>
    <dd>
      <a href="{{ url_for('event.entity', id=entity['mbid']) }}" target="_blank">{{ entity['name'] }}</a>
      {% if entity['life-span'] %}
        <span class="text-muted">({{ entity['life-span']['begin'] }} - {{ entity['life-span']['end'] }})</span>
      {% endif %}
    </dd>
    <dt>{{ _('Place') }}</dt>
    {% if entity['place-relation-list'] is not defined %}
      <dd class="text-muted">{{ _('Unknown place') }}</dd>
    {% else %}
      <dd>{{ entity['place-relation-list'][0]['place']['name']}}</dd>
    {% endif %}
    {% block more_info %}
    {# Information like creation date, votes etc. #}
    {% endblock %}
  </dl>
</div>
