{% from 'macros.html' import show_life_span with context %}

<div class="col-md-12">
  <dl class="dl-horizontal">
    <dt>{{ _('Label') }}</dt>
    <dd>
      <a href="{{ url_for('label.entity', id=entity['mbid']) }}" target="_blank">{{ entity['name'] }}</a>
      <span class="text-muted">
        {{ show_life_span(entity, False) }}
      </span>
    </dd>
    <dt>{{ _('Type') }}</dt>
    <dd>{{ entity['type'] or '-' }}</dd>
    <dt>{{ _('Country') }}</dt>
    <dd>{{ entity['area'] or '-' }}</dd>
    {% block more_info %}
    {# Information like creation date, votes etc. #}
    {% endblock %}
  </dl>
</div>
