{% from 'macros.html' import cover_art %}
{% from 'macros.html' import spotify_player %}

{% if entity is not defined %}
  {% set entity = review.entity_id | entity_details(type=entity_type) %}
{% endif %}
<div class="col-md-5">
  <dl class="dl-horizontal">
    <dt>{{ _('Artist') }}</dt><dd>{{ entity['artist-credit-phrase'] | default(_('[Unknown artist]')) }}</dd>
    <dt>{{ _('Release group') }}</dt>
    <dd>
      {{ entity['title'] | default(_('[Unknown release group]')) }}
      {% if entity['first-release-date'] %}
        <span class="text-muted">({{ entity['first-release-date'][:4] }})</span>
      {% endif %}
    </dd>
    {% block more_info %}
    {# Information like creation date, votes etc. #}
    {% endblock %}
  </dl>
</div>
<div class="col-md-3 hidden-xs">
  {{ spotify_player(entity['id'], spotify_mappings) }}
</div>
<div class="col-md-4 text-right">
  {{ cover_art(entity['id'], 'release_group', attributes='id=cover-art style=max-height:120px;max-width:120px;') }}
</div>
