# -*- coding: utf-8 -*-
# CUSTOM CONFIGURATION

DEBUG = True  # set to False in production mode

SECRET_KEY = "CHANGE_THIS"

# MusicBrainz OAuth2 configuration
MUSICBRAINZ_CLIENT_ID = "<your musicbrainz client id>"
MUSICBRAINZ_CLIENT_SECRET = "<your musicbrainz client secret>"

# Administrator list (emails)
ADMINS = []

# Server with Spotify mappings
MBSPOTIFY_BASE_URI = "http://127.0.0.1:8080/"
MBSPOTIFY_ACCESS_KEY = "INSERT_YOUR_ACCESS_KEY"


# Settings defined below have default values in default_config.py, but can be overridden in this file.

# Database
#SQLALCHEMY_DATABASE_URI = "postgresql://<user>:<pass>@<host>:<port>/<db>"
#TEST_SQLALCHEMY_DATABASE_URI = "postgresql://<test_user>:<test_pass>@<host>:<port>/<test_db>"

#SSL_AVAILABLE = True

#MEMCACHED_SERVERS = ["127.0.0.1:11211"]
#MEMCACHED_NAMESPACE = "CB"

# Mail server
#MAIL_SERVER = 'localhost'
#MAIL_PORT = 25
#MAIL_USERNAME = None
#MAIL_PASSWORD = None
#MAIL_FROM_ADDR = "no-reply@critiquebrainz.org"

# Logging
#LOG_FILE = "server.log"
#LOG_EMAIL_TOPIC = "CritiqueBrainz Failure"
