# -*- coding: utf-8 -*-
# CRITIQUEBRAINZ
# CUSTOM CONFIGURATION FILE
# Optional variables are commented out.

DEBUG = True  # set to False in production mode

SECRET_KEY = "CHANGE_THIS"


# DATABASE

# Primary database
# Example:
#SQLALCHEMY_DATABASE_URI = "postgresql://<user>:<pass>@<host>:<port>/<db>"
SQLALCHEMY_DATABASE_URI = "postgresql://cb:cb@localhost:5432/critiquebrainz"

# Database for testing
# You shouldn't specify this value yourself, unless you have custom database
# for testing purpose.
#TEST_SQLALCHEMY_DATABASE_URI = "postgresql://<test_user>:<test_pass>@<host>:<port>/<test_db>"
TEST_SQLALCHEMY_DATABASE_URI = "postgresql://cb_test:cb_test@localhost:5432/cb_test"


# CACHE

#MEMCACHED_SERVERS = [
#    ("127.0.0.1", 11211),
#]
#MEMCACHED_NAMESPACE = "CB"


# LOGGING

#LOG_FILE_ENABLED = True
#LOG_FILE = "server.log"

#LOG_EMAIL_ENABLED = True
#LOG_EMAIL_TOPIC = "CritiqueBrainz Failure"
#LOG_EMAIL_RECIPIENTS = []  # Array with email addresses (strings)

#LOG_SENTRY_ENABLED = True
#SENTRY_DSN = ""


# EXTERNAL SERVICES

# MusicBrainz
#MUSICBRAINZ_HOSTNAME = "localhost:8080"
MUSICBRAINZ_USERAGENT = "CritiqueBrainz Custom"
MUSICBRAINZ_CLIENT_ID = ""
MUSICBRAINZ_CLIENT_SECRET = ""

# Server with Spotify mappings
# https://github.com/metabrainz/mbspotify
#MBSPOTIFY_BASE_URI = "http://mbspotify.mbsandbox.org/"
#MBSPOTIFY_ACCESS_KEY = ""


# OTHER STUFF

# Mail server
#MAIL_SERVER = "localhost"
#MAIL_PORT = 25
#MAIL_FROM_HOST = "critiquebrainz.org"

#DEBUG_TB_TEMPLATE_EDITOR_ENABLED = True

#GOOGLE_ANALYTICS_TRACKING_ID = ""

# List of administrators (MusicBrainz usernames)
ADMINS = [
    "ruaok",
]
