{% from 'macros.html' import print_message with context %}
<!DOCTYPE html>
<html>

  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}CritiqueBrainz{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ get_static_path('images/favicon.png') }}" type="image/x-icon"/>
    <link href="{{ get_static_path('main.css') }}" rel="stylesheet" media="screen" />
    {% endblock %}

    {% block scripts_top %}
      {# This needs to be before body because it's used during cover art loading. #}
      <script src="{{ get_static_path('common.js') }}"></script>
    {% endblock %}
  </head>

  <body>

    {% include 'navbar.html' %}

    <div class="container">

      {% block wrapper %}
        {% with messages = get_flashed_messages(with_categories=true)  %}
          {% if messages %}
            {% for category, message in messages %}
              {{ print_message(message, category) }}
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}
          <!-- Page content -->
        {% endblock %}
      {% endblock %}
      <div class="clearfix"></div>

      {% include 'footer.html' %}

    </div>

    {% block scripts %}{% endblock %}

  </body>
</html>
