{% macro write_a_review(entity_type, entity_id) %}
    <a href="{{ url_for('review.create', entity_type=entity_type, entity_id=entity_id) }}"
       role="button" class="btn btn-success btn-sm" title="{{_('Write a review')}}">
        <span class="glyphicon glyphicon-plus-sign"></span> {{ _('Review') }}
    </a>
{% endmacro %}

{% macro print_message(message, category) %}
  {% if category == "error" %}
    {% set alert_class="alert-danger" %}
  {% elif category == "warning" %}
    {% set alert_class="alert-warning" %}
  {% elif category == "success" %}
    {% set alert_class="alert-success" %}
  {% else %}
    {% set alert_class="alert-info" %}
  {% endif %}

  <div class="alert {{ alert_class }}">{{ message }}</div>
{% endmacro %}

{% macro scope_desc(scope) %}
  {% if scope == "user" %}
    <strong class="text-danger">
      <abbr title="{{ _('Modify profile info and delete your profile.') }}">{{ _('Profile data') }}</abbr>
    </strong>
  {% elif scope == "review" %}
    <abbr title="{{ _('Create and modify your reviews.') }}">{{ _('Reviews') }}</abbr>
  {% elif scope == "client" %}
    <abbr title="{{ _('Modify your applications (create, edit, delete).') }}">{{ _('Applications') }}</abbr>
  {% elif scope == "authorization" %}
    <strong class="text-danger">
      <abbr title="{{ _('Manage access to your profile for other apps (can allow complete access to your profile and remove existing access authorizations).') }}">{{ _('Authorization') }}</abbr>
    </strong>
  {% elif scope == "vote" %}
    <abbr title="{{ _('Submit and delete your votes.') }}">{{ _('Review votes') }}</abbr>
  {% endif %}
{% endmacro %}

{% macro cover_art(entity_id, entity_type, attributes='', overlay_type=False, source_credit=False, size=250, release_group_page=False) %}
  {# Note: when passing in `attributes`, don't quote attribute values; they will be added automatically #}
  {% if entity_type == 'event' %}
    <img src="{{ get_static_path('images/placeholder_place.svg') }}" {{ attributes }} />
    {% if overlay_type %}
      <span class="entity-type event">
        {{ _('Event') }}
      </span>
    {% endif %}
  {% elif entity_type == 'place'  %}
    <img src="{{ get_static_path('images/placeholder_place.svg') }}" {{ attributes }} />
    {% if overlay_type %}
      <span class="entity-type place">
        {{ _('Place') }}
      </span>
    {% endif %}
  {% elif entity_type == 'work'  %}
    <img src="{{ get_static_path('images/placeholder_place.svg') }}" {{ attributes }} />
    {% if overlay_type %}
      <span class="entity-type work">
        {{ _('Work') }}
      </span>
    {% endif %}
  {% elif entity_type == 'artist'  %}
    <img src="{{ get_static_path('images/placeholder_place.svg') }}" {{ attributes }} />
    {% if overlay_type %}
      <span class="entity-type artist">
        {{ _('Artist') }}
      </span>
    {% endif %}
  {% elif entity_type == 'label'  %}
    <img src="{{ get_static_path('images/placeholder_disc.svg') }}" {{ attributes }} />
    {% if overlay_type %}
      <span class="entity-type label">
        {{ _('Label') }}
      </span>
    {% endif %}
  {% elif entity_type == 'recording'  %}
    <img src="{{ get_static_path('images/placeholder_disc.svg') }}" {{ attributes }} />
    {% if overlay_type %}
      <span class="entity-type recording">
        {{ _('Recording') }}
      </span>
    {% endif %}
  {% elif entity_type == 'release_group' %}
    <img {{ attributes }} />
    {% if overlay_type %}
      <span class="entity-type release-group">
        {{ _('Release Group') }}
      </span>
    {% endif %}
    <div id="mb-call-to-act" class="spotify-player" style="display:none;">
      <span class="text-muted">
        {{ _('We don\'t have cover art for this release group.') }}
      </span>
      <div style="text-align:center;font-weight:bold;">
        <a style="font-size:16px"; href='https://musicbrainz.org/doc/How_to_Add_Cover_Art' rel='nofollow'>
          {{ _('See how to add cover art!') }}
        </a>
      </div>
    </div>
    <script>
      $('img').last()
        .on('error', function () {
          $(this).attr('src', "{{ get_static_path('images/placeholder_disc.svg') }}");
          if ('{{ release_group_page }}' == 'True')
            $("#mb-call-to-act").css('display','block');
          else
            $("#mb-call-to-cat").css('display','none');
        })
        .attr('src', 'https://coverartarchive.org/release-group/{{ entity_id }}/front-{{ size * 2 }}');
    </script>
  {% endif %}
{% endmacro %}

{% macro review_credit(review) %}
  {% set user_string = '<a href="%s">%s</a>'|safe % (url_for('user.reviews', user_id=review.user.id), review.user.display_name) %}
  {{ _('Review by %(user)s', user=user_string) }}
{% endmacro %}

{% macro spotify_player(release_group_id, spotify_mappings, show_add_message=False) -%}
  <div class="spotify-player" style="display:block">
    {% if spotify_mappings %}
      <iframe src="https://embed.spotify.com/?uri={{ spotify_mappings[0] }}&theme=white" width="100%" height="80" frameborder="0" allowtransparency="true"></iframe>
      <em>
        <small>
          <a class="text-muted" href="{{ url_for('mapping.spotify_list', release_group_id=release_group_id) }}">
            {{ _('View Spotify mapping information') }}
          </a>
        </small>
      </em>
    {% elif show_add_message %}
      <span class="text-muted">
        {{ _('We don\'t have a mapping between this release group and Spotify. Please help us find the right album.') }}
      </span>
      <div style="text-align:center;font-weight:bold;">
        <a style="font-size:16px;" href="{{ url_for('mapping.spotify_add', release_group_id=release_group_id) }}" rel="nofollow">
          {{ _('Match this!') }}
        </a>
      </div>
    {% endif %}
  </div>
{%- endmacro %}

{% macro show_external_reviews(reviews) %}
  {% if reviews %}
    {% for review in reviews %}
      <li class="clearfix">
        <a href="{{ review.url.url }}">{{ review.url.url }}</a>
      </li>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro show_tags(tags) %}
  {% if tags %}
    {% for tag in tags %}
    <a href="https://musicbrainz.org/tag/{{ tag }}">{{ tag }}</a>
      {%- if not loop.last -%}
        ,
      {% endif %}
    {% endfor %}
  {% else %}
    <p class="text-muted">{{ _('(none)') }}</p>
  {% endif %}
{% endmacro %}

{% macro soundcloud_player(soundcloud_url) %}
  <div class=soundcloud-player">
    {% if soundcloud_url %}
      <iframe style="margin-top: 10px;margin-left: -5px;" width="100%" height="120" allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={{soundcloud_url}}&auto_play=false"></iframe>
    {% endif %}
  </div>
{% endmacro %}

{% macro show_embedded_player(soundcloud_url, spotify_release_group_id, spotify_mappings, spotify_show_add_message=False) %}
  {% if soundcloud_url %}
      {{ soundcloud_player(soundcloud_url) }}
  {% else %}
      {{ spotify_player(spotify_release_group_id, spotify_mappings, spotify_show_add_message) }}
  {% endif %}
{% endmacro %}

{% macro show_avg_rating(rating, count, show_glyphicon=True) %}
  {% if show_glyphicon %}
    <i class="glyphicon glyphicon-star"></i>
  {% endif %}
  <span style="font-size: 16px;">{{ rating }}</span><em class="text-muted">/5 {{ ngettext('based on %(num)s rating', 'based on %(num)s ratings', count) }}</em>
{% endmacro %}

{% macro comment_credit(comment) %}
  {% set user_string = '<a href="%s">%s</a>'|safe % (url_for('user.reviews', user_id=comment.user.id), comment.user.display_name) %}
  {{ _('%(user)s', user=user_string) }}
{% endmacro %}


{% macro entity_rate_form(entity_type, entity_type_readable) %}
  {% if current_user.is_authenticated %}
    <h4 style="margin-bottom:0;">{{ _('Rate this {}:'.format(entity_type_readable)) }}</h4>
    <br/>
    <form id="rating-form" method="POST" class="form-horizontal" role="form" action="{{ url_for('rate.rate') }}">
      {{ rating_form.hidden_tag() }}
      <div class="form-group">
        <div class="col-sm-12">
          <div id="ratestars" style="margin: 0; padding: 0;">{{ rating_form.rating(class="rating", id="rating") }}</div>
        </div>
      </div>
    </form>
  {% else %}
    {{ _('<h4><a href="%(link)s">Sign in</a> to rate!</h4>', link=url_for('login.index', next=url_for('{}.entity'.format(entity_type), id=id))) }}
  {% endif %}
{% endmacro %}

{% macro display_artist_credit(result) %}
    {% if result['artist-credit-phrase'] is defined and result['artist-credit'] is defined and result['artist-credit'] %}
        <a href="{{ url_for('artist.entity', id=result['artist-credit'][0].artist.id) }}">{{ result['artist-credit-phrase'] }}</a>
    {% elif result['artist-relation-list'] is defined and result['artist-relation-list'] %}
        <a href="{{ url_for('artist.entity', id=result['artist-relation-list'][0].artist.id) }}">{{ result['artist-relation-list'][0]['artist']['name'] or '-' }}</a>
        {% set count = result['artist-relation-list'] | length %}
        {% if count > 1 %}
            + {{ count - 1 }} {{ _("more") }}
        {% endif %}
    {% else %}
        -
    {% endif %}
{% endmacro %}

{% macro display_pagination(current_page, count, limit, page_info, parameter) %}
  {% set total_pages = (count/limit)|round(method='ceil')|int %}
  {% if count > limit %}
    <div class="col-md-12 text-center">
      <nav aria-label="{{ _('Page Navigation') }}">
        <ul class="pagination">
          <li class="previous {{'disabled' if current_page <= 1 }}">
              <a aria-label="{{ _('Previous') }}" href="{{ url_for(page_info, page=page-1, **parameter) }}">&larr; {{ _('Previous') }}</a>
          </li>

          <li {{ "class=active" if current_page == 1 }}>
              <a href="{{ url_for(page_info, page=1,  **parameter) }}">{{ 1 }}</a>
          </li>

          {% if current_page >= 5 %}
            <li class="disabled"><a>{{ '...' }}</a></li>
          {% endif %}

          {% for page_index in range([2,current_page-2]|max, [total_pages,current_page+3]|min) %}
            <li {{ "class=active" if current_page == page_index }}>
                <a href="{{ url_for(page_info, page=page_index, **parameter) }}">{{ page_index }}</a>
            </li>
          {% endfor %}

          {% if (current_page <= (total_pages - 4)) %}
            <li class='disabled'><a>{{ '...' }}</a></li>
          {% endif %}

          <li {{ "class=active" if current_page == total_pages }}>
              <a href="{{ url_for(page_info, page=total_pages, **parameter) }}">{{ total_pages }}</a>
          </li>

          <li class="next {{'disabled' if current_page == total_pages }}">
              <a aria-label="{{ _('Next') }}" href="{{ url_for(page_info, page=page+1, **parameter) }}">{{ _('Next') }} &rarr;</a>
          </li>
        </ul>
      </nav>
    </div>
  {% endif %}
{% endmacro %}

{%- macro show_life_span(entity, show_full_date) %}
  {%- if entity['life-span'] is defined %}
    {%- if entity['life-span']['begin'] is defined %}
      {%- if show_full_date -%}
        {{ entity['life-span']['begin'] }}
      {%- else -%}
        {{ entity['life-span']['begin'][:4] }}
      {%- endif %}
    {%- endif %}
    {%- if entity['life-span']['end'] is defined %}
    –
      {%- if show_full_date -%}
        {{ entity['life-span']['end'] }}
      {%- else -%}
        {{ entity['life-span']['end'][:4] }}
      {%- endif %}
    {%- endif %}
  {%- endif %}
{%- endmacro %}
