<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cb-navbar-collapse">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="{{ url_for('frontend.index') }}">
        <img src="{{ get_static_path('images/navbar_logo.svg') }}" alt="CritiqueBrainz" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="cb-navbar-collapse">
      <ul class="nav navbar-nav">
        {% if not error %} {# Not showing this stuff on error pages. If attempt to load user info fails there, page will not render. #}
          {% if not current_user or current_user.is_anonymous %}
            <li><a href="{{ url_for('login.index', next=request.url) }}">{{ _('Sign in') }}</a></li>
          {% else %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{ current_user.display_name }} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('user.reviews', user_id=current_user.id) }}">{{ _('Profile') }}</a></li>
                <li><a href="{{ url_for('profile_applications.index') }}">{{ _('Applications') }}</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('login.logout', next=request.url) }}">{{ _('Sign out') }}</a></li>
              </ul>
            </li>
          {% endif %}
        {% endif %}
        <li><a href="{{ url_for('review.browse') }}">{{ _('Browse reviews') }}</a></li>
        <li><a href="{{ url_for('review.create') }}">{{ _('Write a review') }}</a></li>
        <li class="language-selector dropdown hidden-md">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-globe"></span> {{ _('Language') }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            {% for language in config.LANGUAGES|dictsort(false, 'value') %}
              <li><a href="{{ language[0] | parameterize('l') }}">{{ language[1]|capitalize }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search" method="GET" action="{{ url_for('search.index') }}">
        <div class="form-group">
          <input id="navbar-search" type="text" name="query" class="form-control input-sm" placeholder="{{ _('Search') }}">
        </div>
        <div class="form-group">
          <select id="type-selector" name="type" class="form-control input-sm">
            <option value="" selected disabled>{{ _('Select search type') }}</option>
            <option value="artist">{{ _('Artist') }}</option>
            <option value="release-group">{{ _('Release group') }}</option>
            <option value="event">{{ _('Event') }}</option>
            <option value="place">{{ _('Place') }}</option>
          </select>
        </div>
        <button type="submit" class="btn input-sm"><span class="glyphicon glyphicon-search"></span></button>
      </form>
    </div>
  </div>
</nav>


<script type="text/javascript">
 
function driverFunction(mediaQuery) {
  // @media (min-width: @grid-float-breakpoint)
  if (mediaQuery.matches) {
    searchBox.style.display = 'none';
    searchBox.setAttribute("onblur", "focusOut()");
    typeSelect.setAttribute("onchange", "selectOption()");
  }
  else {
    searchBox.style.display = 'inline-block';
    searchBox.removeAttribute("onblur");
    typeSelect.removeAttribute("onchange");
  }
}

// On selecting one of the search options, type-selector disappears
// And searchBox appears with relevant placeholder
function selectOption() {
  var optionValue = typeSelect.value;
  typeSelect.style.display = 'none';
  searchBox.style.display = 'inline-block';
  searchBox.focus();
   
  switch(optionValue){
   case 'artist': 
      searchBox.placeholder = "{{ _('Search') }}" + " " + "{{ _('artist') }}";
      break;
    case 'release-group':
      searchBox.placeholder = "{{ _('Search') }}" + " " + "{{ _('release group') }}";
      break;
    case 'event': 
      searchBox.placeholder = "{{ _('Search') }}" + " " + "{{ _('event') }}";
      break;
    case 'place':
      searchBox.placeholder = "{{ _('Search') }}" + " " + "{{ _('place') }}";
      break;
  }
   
}

// On leaving the search field, type-selector appears again
function focusOut() {
  typeSelect.style.display = 'inline-block';
  typeSelect.value = '';
  searchBox.style.display = 'none';
}
 
var searchBox = document.getElementById("navbar-search");
var typeSelect = document.getElementById("type-selector");
var mediaQuery = window.matchMedia("(min-width: 992px)");

// Call listener function at run time
driverFunction(mediaQuery);    
// Attach listener function on state changes                        
mediaQuery.addListener(driverFunction);             
 
</script>
