{% extends "base.html" %}
{% from 'macros.html' import scope_desc %}

{% block title %}{{ _('OAuth authorization') }} - CritiqueBrainz{% endblock %}

{% block content %}
<h3>{{ _('Do you want to give access to your account to %(name)s?', name=client.name) }}</h3>
<div class="alert alert-info">
  <strong>{{ _('You can withdraw any time in your profile settings.') }}</strong>
</div>
<div class="well">
  <div class="row">
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt>{{ _('Name') }}</dt><dd>{{ client.name }}</dd>
        <dt>{{ _('Website') }}</dt><dd><a href="{{ client.website }}" target="_blank">{{ client.website }}</a></dd>
        <dt>{{ _('Description') }}</dt><dd>{{ client.desc }}</dd>
      </dl>
    </div>
    <div class="col-md-6">
      {% set scopes = scope.split() %}
      {% if scopes %}
        <b>{{ _('%(client)s is requesting permission to access the following parts of your profile:', client=client.name) }}</b>
        <ul>
          {% for scope in scopes %}
            <li>{{ scope_desc(scope) }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <b>{{ _('%(client)s does not require any special permissions.', client=client.name) }}</b>
      {% endif %}
    </div>
  </div>
</div>
<form action="{{ request.url }}" method="post">
  <button type="submit" name="confirm" value="yes" class="btn btn-primary">{{ _('Allow access') }}</button>
  <a href="{{ cancel_url }}" class="btn">{{ _('No thanks') }}</a>
</form>
{% endblock %}
