{% extends 'user/base.html' %}
{% block content %}
<h2>Deleting profile</h2>
<hr>
<form method="POST" class="form-horizontal">
  <p class="lead">Are you sure you want to delete your account?</p> 
  All your data (i.e. publications, rates, reports) will be purged. You <strong>cannot</strong>
  undo this action.
  <div class="form-actions">
    <button type="submit" class="btn btn-danger">Yes, I want to delete my account</button>
    <a href="{{ url_for('user_profile.index') }}" class="btn">No</a>
  </div>
</form>
{% endblock %}
