{% extends "oauth/base.html" %}
{% block content %}
<div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
   	<div class="alert alert-{{ category }}">
    {{ message }}
		</div>
  {% endfor %}
{% endwith %}
{% if g.user is none %}
  <div class="row">
    <div class="span4 offset4">
      <a href="{{ url_for('oauth_login_twitter', **request.args)}}" class="btn btn-large btn-block btn-primary">Sign up with Twitter</a>
      <a href="{{ url_for('oauth_login_musicbrainz', **request.args)}}" class="btn btn-large btn-block">Sign up with MusicBrainz</a>
    </div>
  </div>
{% else %}
  <div class="alert alert-success">You are logged in as {{ g.user.display_name }}</div>
{% endif %}
</div>
{% endblock %}