body { padding-top: 20px; color: #5a5a5a; }

.navbar { margin-bottom: 30px; }
.navbar .navbar-brand { font-size: 20px; font-weight: bold; }

.clickable-row { cursor: pointer; }

/* Index page */
#last-reviews .cover-art { width: 50px; height: 50px; }
#last-reviews td { vertical-align: middle !important; }

/* Artist page */
#release-groups { margin-top: 20px; }
#release-groups .thumbnail { height: 223px; }
#release-groups .thumbnail.reviewed {
    border-color: rgba(0, 128, 0, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(0, 128, 0, 0.4);
}
#release-groups .thumbnail .review-count {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: rgba(0, 0, 0, 0.57);
    font-weight: bold;
    font-size: small;
    color: #fff;
}
#release-groups .cover-art-container { height: 155px; }
#release-groups .cover-art-container img {
    max-height: 155px;
    max-width: 155px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#release-groups .thumbnail .release-group-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

/* Release group page */
#release-group-details #cover-art { margin-top: 10px; }
#release-group-details a#add-review { margin-top: 4px; }
#release-group-details a#edit-review { margin-top: 4px; }

/* Review entity page */
#review-entity #review-details .dl-horizontal dt { width: 100px; }
#review-entity #review-details .dl-horizontal dd { margin-left: 120px; }
#review-entity .btn.disabled { cursor: pointer; pointer-events: all; }
