body { padding-top: 20px; color: #5a5a5a; }

.navbar { margin-bottom: 30px; }
.navbar .navbar-brand { font-size: 20px; font-weight: bold; }

.clickable-row { cursor: pointer; }

/* Index page */
#last-reviews .cover-art { width: 50px; height: 50px; }
#last-reviews td { vertical-align: middle !important; }

/* Artist page */
#releases { margin-top: 20px; }
#releases .thumbnail { height: 223px; }
#releases .thumbnail.reviewed {
    border-color: rgba(0, 128, 0, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(0, 128, 0, 0.4);
}
#releases .thumbnail .review-count {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: rgba(0, 0, 0, 0.57);
    font-weight: bold;
    font-size: small;
    color: #fff;
}
#releases .cover-art-container { height: 155px; }
#releases .cover-art-container img {
    max-height: 155px;
    max-width: 155px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.release-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

/* Album page */
#album-details #cover-art { margin-top: 10px; }
#album-details a#add-review { margin-top: 4px; }

/* Review entity page */
#review-details .dl-horizontal dt { width: 100px; }
#review-details .dl-horizontal dd { margin-left: 120px; }
#review-details .btn.disabled { cursor: pointer; pointer-events: all; }
