{% extends "base.html" %}
{% block content %}
  <h3>Do you want to give access to your account to {{ client.name }}?</h3>
  <div class="alert alert-info">
    <strong>Don't panic!</strong> You can withdraw any time in your profile settings.
  </div>
  <div class="well">
  <div class="row-fluid">
    <div class="span6">
      <dl class="dl-horizontal">
        <dt>Website</dt>
        <dd>{{ client.website }}</dd>
        <dt>Name</dt>
        <dd>{{ client.name }}</dd>
        <dt>Description</dt>
        <dd>{{ client.desc }}</dd>
      </dl>
    </div>
    <div class="span6">
      {{ client.name }} is requesting permission to
      <ul>
        {% if 'user' in scopes %}
        <li>
          Modify your profile data
        </li>
        {% endif %}
        {% if 'publication' in scopes %}
        <li>
          Publish new publications
        </li>
        <li>
          Modify and delete existing publications
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  </div>
  <form action="{{ request.url }}" method="post">
  <input type="hidden" name="client_id" value="{{ client_id }}" />
  <input type="hidden" name="scope" value="{{ scopes|join(' ') }}" />
  <input type="hidden" name="state" value="{{ state or '' }}" />
  <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}" />
  <input type="hidden" name="response_type" value="{{ response_type }}" />
  <button type="submit" name="confirm" value="yes" class="btn btn-primary">Agree</button>
  <button type="submit" name="confirm" value="no" class="btn">No, thanks</button>
  </form>
{% endblock %}
