{% extends 'base.html' %}

{# {% block title %}{{ event.name }} - CritiqueBrainz{% endblock %} #}

{% block content %}
  <div class="clearfix">
    <h2 class="pull-left">
      {# {{ event.name }} #}
    </h2>

    {% if not my_review %}
      <a id="write-review" href="{{ url_for('review.create', label=id) }}"
         role="button" class="btn btn-success pull-right">
        <span class="glyphicon glyphicon-asterisk"></span> {{ _('Write a review') }}
      </a>
    {% else %}
      <a id="edit-review" href="{{ url_for('review.edit', id=my_review.id) }}"
         role="button" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-edit"></span> {{ _('Edit my review') }}
      </a>
    {% endif %}
  </div>
{% endblock %}
