{% extends 'base.html' %}

{% block title %} {{ _('Admin Activity Log') }} - CritiqueBrainz {% endblock %}

{% block content %}
  <h2>{{ _('Moderation Log') }}</h2>
  <div id="results">{% include 'log/log_results.html' %}</div>
  {% if count > limit %}
    <div>
      <button id="more-button" type="button" class="btn btn-primary"
              onclick="load_more();" >{{ _('Load older logs') }}</button>
      <span id="loading-message" class="text-muted"
            style="display:none;">{{ _('Loading older logs...') }}</span>
    </div>
  {% endif %}
{% endblock %}

{% if count > limit %}
  {% block scripts %}
    {{ super() }}
    <script>
      var current_page = 0;
      function load_more() {
        var more_button = $("#more-button");
        var loading_message = $("#loading-message");
        more_button.hide();
        loading_message.show();
        $.ajax({
          url: "{{ url_for('log.more') }}",
          data: { page: ++current_page }
        })
        .done(function(data) {
          loading_message.hide();
          $("#results").append(data.results);
          if (data.more === true) more_button.show();
        })
        .fail(function() {
          alert({{ _('Failed to load older logs!') | tojson }});
        });
      }
    </script>
  {% endblock %}
{% endif %}
