{% extends 'base.html' %}
{% from 'macros.html' import print_error %}
{% block wrapper %}
<div id="profile" class="row">
  <div class="col-md-2">
    <ul class="nav nav-list">
      <li><a href="{{ url_for('profile_details.index') }}">{{ _('Profile') }}</a></li>
      <li><a href="{{ url_for('profile_review.index') }}">{{ _('Reviews') }}</a></li>
      <li><a href="{{ url_for('profile_applications.index') }}">{{ _('Applications') }}</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    {% with messages = get_flashed_messages(with_categories=true)  %}
      {% if messages %}
        {% for category, message in messages %}
          {{ print_error(message, category) }}
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}
    <!-- Profile page content -->
    {% endblock %}
  </div>
</div>
{% endblock %}
