{% extends 'profile/base.html' %}
{% block content %}
{% for field in form.errors %}
  {% for error in form.errors[field] %}
  <div class="alert alert-error">
    {{ error }}
  </div>
  {% endfor %}
{% endfor %}
<h2>Create review</h2>
<p>
  <dl class="dl-horizontal">
    {% set album = release_group | album_details %}
    <dt>Artist</dt>
    <dd>{{ album.artist }}</dd>
    <dt>Album</dt>
    <dd>{{ album.title }} <span class="muted">({{ album.release_date }})</span></dd>
  </dl>
</p>
<hr>
<form method="POST" class="form-horizontal">
  {{ form.hidden_tag() }}
  <fieldset>
    <div class="control-group">
      <div class="controls">
        {{ form.text(class="input-xxlarge", rows="5") | safe }}
      </div>
    </div>
  </fieldset>
  <hr>
  <div class="control-group">
    <div class="control-label">
      <img src="{{ url_for('static', filename='img/cc/by.png') }}" />
      <img src="{{ url_for('static', filename='img/cc/sa.png') }}" />
    </div>
    <div class="controls">
      <label class="checkbox">
        {{ form.licence() | safe }}
          <p>
          You acknowledge and agree that the CritiqueBrainz and its contents are generally licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported</a>. You agree to license your work under such license. You represent and warrant that you own or control all rights in and to the work, that nothing in the work infringes the rights of any third-party, and that you have the permission to use and to license the work under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported</a>.
          </p>
        </label>
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Publish</button>
  </div>
</form>
{% endblock %}
