{% extends 'profile/base.html' %}

{% set album = review.release_group|album_details %}

{% block title %}Edit review of "{{ album.title }}" - CritiqueBrainz{% endblock %}

{% block content %}
{% for field in form.errors %}
  {% for error in form.errors[field] %}
  <div class="alert alert-error">
    {{ error }}
  </div>
  {% endfor %}
{% endfor %}
<h2>Editing review</h2>
<dl class="dl-horizontal">
  <dt>Artist</dt><dd>{{ album.artist }}</dd>
  <dt>Album</dt>
  <dd>
    {{ album.title }}
    {% if album.release_date %}
      <span class="text-muted">({{ album.release_date }})</span>
    {% endif %}
  </dd>
  <dt>Created on</dt><dd>{{ review.created | datetime }}</dd>
  <dt>Votes (+/-)</dt><dd>{{ review.votes_positive }}/{{ review.votes_negative }}</dd>
  <dt>Rating</dt><dd>{{ review.review_class }}</dd>
</dl>

<hr />
<form method="POST" role="form">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.text(style="width: 100%", class="form-control", rows="5") | safe }}
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Publish</button>
    </div>
  </div>
</form>
{% endblock %}
