{% extends 'profile/base.html' %}

{% set release_group = review.release_group|release_group_details %}

{% block title %}Edit review of "{{ release_group.title }}" - CritiqueBrainz{% endblock %}

{% block content %}
{% for field in form.errors %}
  {% for error in form.errors[field] %}
  <div class="alert alert-danger">
    {{ error }}
  </div>
  {% endfor %}
{% endfor %}
<h2>Editing review</h2>
<dl class="dl-horizontal">
  <dt>Artist</dt><dd>{{ release_group.artist }}</dd>
  <dt>Release group</dt>
  <dd>
    {{ release_group.title }}
    {% if release_group.first_release_date %}
      <span class="text-muted">({{ release_group.first_release_date }})</span>
    {% endif %}
  </dd>
  <dt>Created on</dt><dd>{{ review.created | datetime }}</dd>
  <dt>Votes (+/-)</dt><dd>{{ review.votes_positive }}/{{ review.votes_negative }}</dd>
  <dt>Rating</dt><dd>{{ review.review_class }}</dd>
</dl>

<div class="clearfix">
  <ul class="nav nav-tabs" style="margin-bottom:-1px;">
    <li class="active"><a href="#write" data-toggle="tab">Write</a></li>
    <li><a href="#preview" data-toggle="tab">Preview</a></li>
    <small class="text-muted pull-right" style="margin-top:20px;font-style:italic;">
      You can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> syntax to apply custom formatting.
    </small>
  </ul>
</div>
<form method="POST" class="form-horizontal" role="form">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <div class="col-sm-12 tab-content">
      <div class="tab-pane fade in active" id="write">
        {{ form.text(id="review-content", class="form-control", rows="5") | safe }}
      </div>
      <div class="tab-pane fade" id="preview" style="margin-top:20px;">
        <span class="text-muted">Loading preview...</span>
      </div>
      <script>
        $(function () {
          $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            if (e.target.hash.substring(1) == "preview") {
              $.ajax({
                type: "POST",
                url: "{{ url_for('profile_review.preview') }}",
                data: {
                  text: $("#review-content").val()
                },
                success: function (data) {
                  $("#preview").html(data);
                }
              });
            } else { // write
              $("#preview").html('<span class="text-muted">Loading preview...</span>');
            }
          });
        });
      </script>
    </div>
  </div>
  <hr />
  <div class="form-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary">Publish</button>
    </div>
  </div>
</form>
{% endblock %}
