{% extends 'profile/base.html' %}

{% block title %}Your reviews - CritiqueBrainz{% endblock %}

{% from 'macros.html' import rating_badge %}

{% block content %}
<div class="clearfix">
  <h2 class="pull-left">Reviews</h2>
  <a href="{{ url_for('profile_review.create') }}" class="btn btn-success pull-right" style="margin-top: 20px;">
    <span class="glyphicon glyphicon-asterisk"></span> Write review
  </a>
</div>
<hr />
{% if not reviews %}
  <p class="lead" style="text-align: center;">No reviews found</p>
{% else %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Artist</th>
        <th>Release group</th>
        <th>Created on</th>
        <th>Votes (+/-)</th>
        <th>Class</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
        {% set release_group = review.release_group|release_group_details %}
        <tr data-review-id="{{ review.id }}">
          <td>{{ release_group.artist }}</td>
          <td>
            {{ release_group.title }}
            {% if release_group.first_release_date %}
              <span class="text-muted">({{ release_group.first_release_date }})</span>
            {% endif %}
          </td>
          <td>{{ review.created | datetime }}</td>
          <td>{{ review.votes_positive }}/{{ review.votes_negative }}</td>
          <td>{{ review.review_class }}</td>
          <td>
            <a class="btn btn-success btn-xs" href="{{ url_for('review.entity', id=review.id) }}">Read</a>
            <a class="btn btn-default btn-xs" href="{{ url_for('profile_review.edit', id=review.id) }}">Edit</a>
            <a class="btn btn-danger btn-xs" href="{{ url_for('profile_review.delete', id=review.id) }}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <ul class="pagination">
    {% set pages = count//limit %}
    {% if count%limit %}
      {% set pages = pages+1 %}
    {% endif %}
    {% if pages>1 %}
      {% for p in range(pages) %}
        {% set p_offset = p*limit %}
        <li {% if offset == p_offset %}class="active"{% endif %}>
          <a href="{{ url_for('profile_review.index', limit=limit, offset=p*limit) }}">{{ p+1 }}</a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
