{% extends 'profile/base.html' %}
{% from 'macros.html' import rating_badge %}
{% block content %}
<div class="clearfix">
  <h2 class="pull-left">Reviews</h2>
  <a href="{{ url_for('profile_review.create') }}" class="btn btn-success pull-right" style="margin-top: 20px;">
    <span class="glyphicon glyphicon-asterisk"></span> Create
  </a>
</div>
<hr />
{% if not reviews %}
  <p class="lead" style="text-align: center;">No reviews found</p>
{% else %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Hash</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Created on</th>
        <th>Votes (+/-)</th>
        <th>Class</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
        {% set album = review.release_group|album_details %}
        <tr data-review-id="{{ review.id }}">
          <td>{{ review.id[:5] }}</td>
          <td>{{ album.artist }}</td>
          <td>
            {{ album.title }}
            {% if album.release_date %}<span class="text-muted">({{ album.release_date }})</span>{% endif %}
          </td>
          <td>{{ review.created | datetime }}</td>
          <td>{{ review.votes_positive }}/{{ review.votes_negative }}</td>
          <td>{{ review.review_class }}</td>
          <td>
            <a href="{{ url_for('review.entity', id=review.id) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
            <a href="{{ url_for('profile_review.edit', id=review.id) }}"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="{{ url_for('profile_review.delete', id=review.id) }}"><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <ul class="pagination">
    {% set pages = count//limit %}
    {% if count%limit %}
      {% set pages = pages+1 %}
    {% endif %}
    {% for p in range(pages) %}
      {% set p_offset = p*limit %}
      <li {% if offset == p_offset %}class="active"{% endif %}>
        <a href="{{ url_for('profile_review.index', limit=limit, offset=p*limit) }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
