{% from 'macros.html' import print_error %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}CritiqueBrainz{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
    <style type="text/css">
        body {
          padding-top: 20px;
          color: #5a5a5a;
        }
    </style>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      {% block header %}
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Developers</a></li>
          {% if current_user.is_anonymous() %}
          <li><a href="{{ url_for('login.index') }}">Sign in</a></li>
          {% else %}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              {{ current_user.me.display_name }} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for("profile_details.index") }}">Profile</a></li>
              <li class="divider"></li>
              <li><a href="{{ url_for("profile_publication.index") }}">Publications</a></li>
              <li><a href="{{ url_for("profile_client.index") }}">API clients</a></li>
              <li class="divider"></li>
              <li><a href="{{ url_for('login.logout') }}">Logout</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
        <h2 class="muted"><a href="/"><span style="font-weight: normal">Critique</span>Brainz</a></h2>
      </div>
      <hr>
      {% endblock %}
    </div>
    {% block wrapper %}
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true)  %}
        {% if messages %}
          {% for category, message in messages %}
            {{ print_error(message, category) }}
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}
      {% endblock %}
      <hr>
    </div>
    {% endblock %}
    <div class="container">
      <div class="row">
        <div class="span4">
          <ul class="inline">
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Developers</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% block scripts %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock %}
  </body>
</html>
