{% from 'macros.html' import print_error %}
<!DOCTYPE html>
<html>

  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}CritiqueBrainz{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/critiquebrainz.css') }}" rel="stylesheet" media="screen">

    <style type="text/css">
      body { padding-top: 20px; color: #5a5a5a; }
      .header h2 a { text-decoration: none; }
    </style>
    {% endblock %}

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock %}
  </head>

  <body>
    <div class="container">

      {% block header %}
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="#">About</a></li>
          <li><a href="http://blog.musicbrainz.org/">Blog</a></li>
          <li><a href="https://github.com/metabrainz/critiquebrainz/wiki/Developer-documentation">Developers</a></li>
          {% if current_user.is_anonymous() %}
          <li><a href="{{ url_for('login.index') }}">Sign in</a></li>
          {% else %}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              {{ current_user.me.display_name }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ url_for('profile_details.index') }}">Profile</a></li>
              <li class="divider"></li>
              <li><a href="{{ url_for('profile_review.index') }}">Reviews</a></li>
              <li><a href="{{ url_for('profile_client.index') }}">API clients</a></li>
              <li class="divider"></li>
              <li><a href="{{ url_for('login.logout') }}">Logout</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
        <h2><a href="/">CritiqueBrainz</a></h2>
      </div>
      <hr />
      {% endblock %}

      {% block wrapper %}
        {% with messages = get_flashed_messages(with_categories=true)  %}
          {% if messages %}
            {% for category, message in messages %}
              {{ print_error(message, category) }}
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}
        <!-- Page content -->
        {% endblock %}
      {% endblock %}
      <div class="clearfix"></div>

      <hr />
      {% block footer %}
      <div class="footer">
        <ul class="list-inline">
          <li><a href="#">About</a></li>
          <li><a href="http://blog.musicbrainz.org/">Blog</a></li>
          <li><a href="https://github.com/metabrainz/critiquebrainz/wiki/Developer-documentation">Developers</a></li>
        </ul>
      </div>
      {% endblock %}

    </div> <!-- /container -->
  </body>
</html>
