{% extends 'base.html' %}
{% block content %}
<h4>Last reviews</h4>
{% if not reviews %}
  <p class="lead" style="text-align: center;">No reviews found</p>
{% else %}
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Artist</th>
        <th>Album</th>
        <th>Author</th>
        <th><!-- Read button --></th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
        {% set album = review.release_group|album_details %}
        <tr data-review-id="{{ review.id }}">
          <td>{{ album.artist }}</td>
          <td>{{ album.title }} <span class="text-muted">({{ album.release_date }})</span></td>
          <td><a href="{{ url_for('user.entity', id=review.user_id) }}">{{ review.user.display_name }}</a></td>
          <td><a href="{{ url_for('review.entity', id=review.id) }}">
            <span class="glyphicon glyphicon-eye-open"></span>
          </a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}
