{% macro print_error(message, category) -%}
  {% if category == "error" %}
    {% set head = _("Error!") %}
    {% set alert_class="alert-danger" %}
  {% elif category == "success" %}
    {% set head = _("Success!") %}
    {% set alert_class="alert-success" %}
  {% else %}
    {% set head = _("Notice!") %}
    {% set alert_class="alert-info" %}
  {% endif %}
<div class="alert {{ alert_class }}">
  <strong>{{ head }}</strong>
  {{ message }}
</div>
{% endmacro %}

{% macro scope_desc(scope) %}
  {% if scope == "user" %}
    {{ _('Profile data') }}
  {% elif scope == "review" %}
    {{ _('Reviews') }}
  {% elif scope == "client" %}
    {{ _('API clients') }}
  {% elif scope == "authorization" %}
    {{ _('Authorization') }}
  {% elif scope == "vote" %}
    {{ _('Review votes') }}
  {% endif %}
{% endmacro %}
