{% macro print_error(message, category) -%}
  {% if category == "error" %}
    {% set head = "Error!" %}
    {% set alert_class="alert-danger" %}
  {% elif category == "success" %}
    {% set head = "Success!" %}
    {% set alert_class="alert-success" %}
  {% else %}
    {% set head = "Notice!" %}
    {% set alert_class="alert-info" %}
  {% endif %}
<div class="alert {{ alert_class }}">
  <strong>{{ head }}</strong>
  {{ message }}
</div>
{% endmacro %}

{% macro scope_desc(scope) %}
  {% if scope == "user" %}
    Profile data
  {% elif scope == "publication" %}
    Publications
  {% elif scope == "client" %}
    API clients
  {% elif scope == "authorization" %}
    Authorization
  {% endif %}
{% endmacro %}

