{% extends 'base.html' %}
{% from 'macros.html' import cover_art with context %}

{% block title %}{{ artist.name }} - CritiqueBrainz{% endblock %}

{% macro print_members(members) %}
  {% for member in members %}
    <li>
      <a href="{{ url_for('artist.entity', mbid=member.artist_id) }}">
        {{ member.name }}
      </a>
      {% if member.periods %}
        {% if not member.ended and member.periods and member.periods[0][0] %}
          <span class="text-muted">
            ({{ 'since ' + member.periods[0][0] }})
          </span>
        {% else %}
          <span class="text-muted">
          ({% for period in member.periods -%}
            {{ period[0] + '-' + period[1] + ', ' * (not loop.last) }}
          {%- endfor %})
          </span>
        {%- endif %}
      {% endif %}
      {% if member.attributes and not member.ended %}
        <br />
        <span class="text-muted">
          {% for attr in member.attributes -%}
            {{ attr + ', ' * (not loop.last) }}
          {% endfor %}
        </span>
      {% endif %}
      {% if member.disambiguation %}
        <br />
        <span class="text-muted">({{ member.disambiguation }})</span>
      {% endif %}
    </li>
  {% endfor %}
{% endmacro %}

{% block content %}
<h2>
  {{ artist.name }}
  {% if artist.disambiguation %}
    <small>({{ artist.disambiguation }})</small>
  {% endif %}
</h2>

<div class="row">
  <div class="col-sm-9">
    <h4>{{ _('Discography') }}</h4>
    <ul class="nav nav-tabs">
      <li {% if release_type=='album' %}class="active"{% endif %}>
        <a href="{{ url_for('artist.entity', mbid=artist.id) }}?release_type=album">{{ _('Albums') }}</a>
      </li>
      <li {% if release_type=='single' %}class="active"{% endif %}>
        <a href="{{ url_for('artist.entity', mbid=artist.id) }}?release_type=single">{{ _('Singles') }}</a>
      </li>
      <li {% if release_type=='ep' %}class="active"{% endif %}>
        <a href="{{ url_for('artist.entity', mbid=artist.id) }}?release_type=ep">{{ _('EPs') }}</a>
      </li>
      <li {% if release_type=='broadcast' %}class="active"{% endif %}>
        <a href="{{ url_for('artist.entity', mbid=artist.id) }}?release_type=broadcast">{{ _('Broadcasts') }}</a>
      </li>
      <li {% if release_type=='other' %}class="active"{% endif %}>
        <a href="{{ url_for('artist.entity', mbid=artist.id) }}?release_type=other">{{ _('Other releases') }}</a>
      </li>
    </ul>
    {% if count==0 %}
      <p class="lead" style="text-align:center; margin-top:20px;">{{ _('No releases found') }}</p>
    {% else %}
      <div id="release-groups" class="row">
        {% for release_group in release_groups %}
          <div class="col-sm-4 col-md-4 col-lg-3">
            {% set has_reviews = (release_group.review_count > 0) %}
            <div class="thumbnail clearfix {% if has_reviews %}reviewed{% endif %}">
              {% if has_reviews %}
                <div class="review-count">
                  {{ ngettext('%(num)d review', '%(num)d reviews', release_group.review_count) }}
                </div>
              {% endif %}
              <div class="cover-art-container">
                <a href="{{ url_for('release_group.entity', id=release_group.id) }}">
                  {{ cover_art(release_group.id, 'release_group') }}
                </a>
              </div>
              <div class="caption">
                <div class="release-group-title">
                  <a href="{{ url_for('release_group.entity', id=release_group.id) }}">{{ release_group.title }}</a>
                </div>
                {{ release_group['first-release-date'][:4] }}
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="clearfix"></div>

        {% if count > limit %}
          <div class="col-md-12">
            <ul class="pager">
              {% if page > 1 %}
                <li class="previous"><a href="{{ url_for('artist.entity', mbid=id, release_type=release_type, page=page-1) }}">&larr; {{ _('Previous') }}</a></li>
              {% endif %}
              {% if page-1 < count//limit %}
                <li class="next"><a href="{{ url_for('artist.entity', mbid=id, release_type=release_type, page=page+1) }}">{{ _('Next') }} &rarr;</a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>

  <div class="col-sm-3">
    <h4>{{ _('Artist information') }}</h4>
    {% if artist.type %}<p class="text-muted">{{ artist.type }}</p>{% endif %}

    {% if band_members.current_members %}
      <b>
        {% if artist.type and artist.type == 'Person' %}
          {{ _('Member of') }}
        {% else %}
          {{ _('Members') }}
        {% endif %}
      </b>
      <ul class="list-unstyled">
        {{ print_members(band_members['current_members'][:15]) }}
        {% if band_members['current_members'] | length > 15 %}
          <div id="more-members" class="collapse">
            {{ print_members(band_members['current_members'][15:]) }}
          </div>
          <a data-toggle="collapse" data-target="#more-members" style="cursor: pointer;"><strong>{{ _('View all...') }}</strong></a>
        {% endif %}
      </ul>
    {% endif %}

    {% if band_members['former_members'] %}
      <b>
        {% if artist.type and artist.type == 'Person' %}
          {{ _('Former member of') }}
        {% else %}
          {{ _('Former members') }}
        {% endif %}
      </b>
      <ul class="list-unstyled">
        {{ print_members(band_members['former_members'][:15]) }}
        {% if band_members['former_members'] | length > 15 %}
          <div id="more-former-members" class="collapse">
            {{ print_members(band_members['former_members'][15:]) }}
          </div>
          <a data-toggle="collapse" data-target="#more-former-members" style="cursor: pointer;">
            <strong>{{ _('View all...') }}</strong>
          </a>
        {% endif %}
      </ul>
    {% endif %}

    {% if artist['external-urls'] %}
      <b>{{ _('External links') }}</b>
      <ul class="list-unstyled external-links">
        {% for url in artist['external-urls'] %}
          <li class="clearfix">
            <div class="favicon-container">
              {% if url.icon %}
                <img src="{{ get_static_path('favicons/' + url.icon) }}" />
              {% else %}
                <img src="{{ get_static_path('favicons/external-16.png') }}" />
              {% endif %}
            </div>
            <a href="{{ url.target }}">{{ url.name }}</a>
            {% if url.disambiguation %}<span class="text-muted">({{ url.disambiguation }})</span>{% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="external-links">
      <div class="favicon-container"><img src="{{ get_static_path('favicons/musicbrainz-16.svg') }}" /></div>
      <a href="https://musicbrainz.org/artist/{{ artist.id }}"><em>{{ _('Edit on MusicBrainz') }}</em></a>
    </div>
  </div>
</div>
{% endblock %}
