{% extends 'base.html' %}
{% from 'macros.html' import display_pagination with context %}
{% block title %}{{ _('Spotify album mapping') }} - CritiqueBrainz{% endblock %}

{% block content %}
<h2>{{ _('Spotify album mapping') }}</h2>
<p class="lead">
  {% if release_group['first-release-date'] is defined %}
    {% set album = '"%s" <span class="text-muted">(%s)</span>'|safe % (release_group.title, release_group['first-release-date'][:4]) %}
  {% elif release_group['first-release-year'] is defined %}
    {% set album = '"%s" <span class="text-muted">(%s)</span>'|safe % (release_group.title, release_group['first-release-year']) %}
  {% else %}
    {% set album = '"%s"' % release_group.title %}
  {% endif %}

  {{ _('Please select the album %(album)s by %(artist)s, or provide a link to Spotify below.',
       album=album, artist=release_group['artist-credit-phrase']) }}
</p>
{% if search_results %}
  <div id="spotify-search-results" class="row">
    {% for item in search_results %}
    <div class="col-md-3">
      <div class="thumbnail">
        <div class="cover-art-container">
          <a href="{{ url_for('mapping.spotify_confirm', release_group_id=release_group.mbid, spotify_ref=item.uri) }}" class="match-link" data-toggle="tooltip" data-placement="bottom" title="This is the same album!" rel="nofollow">
            {% if item.images is defined %}
              <img class="img-responsive" src="{{ item.images[0].url }}" />
            {% else %}
              <img class="img-responsive" src="{{ get_static_path('images/placeholder_disc.svg') }}" />
            {% endif %}
          </a>
        </div>
        <div class="caption">
          <div class="title">
            {{ item.name }}
            <br />
            <span style="font-weight:normal">by </span>
            {{ artists(item) }}
            <br />
          </div>
          <b>{{ release_date_string(item) }}</b>
          <span class="text-muted">{{ item.album_type }}</span><br />
          <em><a href="{{ item.external_urls.spotify }}">{{ _('Listen on Spotify') }}</a></em><br />
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {{ display_pagination(page, count, limit, 'mapping.spotify_add', {'release_group_id':release_group.mbid}) }}
{% else %}
  <p class="lead" style="text-align:center; margin-top:20px;">{{ _('No similar albums found') }}</p>
{% endif %}

<hr />

<p>
  <p>{{ _('If you can’t find the right album in search results, you can paste a Spotify link there:') }}</p>
  <form class="form-inline" role="form" action="{{ url_for('mapping.spotify_confirm') }}" method="GET">
    <div class="form-group">
      <input type="hidden" name="release_group_id" value="{{ release_group.mbid }}">
      <input type="text" class="form-control input-sm" name="spotify_ref" placeholder="{{ _('Spotify URI or HTTP link') }}" size="40">
    </div>
    <button type="submit" class="btn btn-default btn-sm">{{ _('Submit') }}</button>
  </form>
  <br /><small class="text-muted">
    {{ _('A Spotify link should look like %(uri_example)s or %(link_example)s.',
         uri_example = '<code>spotify:album:3CCO9PhQXCQXUWjcEfys9B</code>' | safe,
         link_example = '<code>https://play.spotify.com/album/3CCO9PhQXCQXUWjcEfys9B</code>' | safe) }}
  </small>
</p>

<hr />

<p>
  <strong>
    {{ _('It’s fine if you can’t find the right album. It might not be available on Spotify yet.') }}
    {{ _('You can <a href="%(link)s">go back to the release group page</a>.', link=url_for('release_group.entity', id=release_group.mbid)) }}
  </strong>
</p>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ get_static_path('spotify.js') }}"></script>
{% endblock %}

{% macro artists(album) -%}
  {% if album.artists|length == 0 or album.artists[0].name != 'Various Artists' %}
    {%- for artist in album.artists %}
      {{  artist.name }}
      {% if not loop.last %}
        {{ ', ' }}
      {% endif %}
    {%- endfor %}
  {% else %}
    {% set added_artists=[] %}
    {% for track in album.tracks['items'] %}
      {% for artist in track.artists %}
        {% if artist.name not in added_artists and artist.name != 'Various Artists'%}
          {% do added_artists.append(artist.name)%}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% for artist_name in added_artists %}
      {{ artist_name }}
      {% if not loop.last %}
        {{ ', ' }}
      {% endif %}
    {% endfor %}
  {% endif %}
{%- endmacro %}

{% macro release_date_string(album) -%}
  {% if album.release_date is defined %}
    {{ album.release_date.split('-')[0] }}
  {% endif %}

{%- endmacro %}
