{% extends 'profile/base.html' %}

{% block title %}{{ _('Your profile') }} - CritiqueBrainz{% endblock %}

{% block content %}
<div class="clearfix">
  <h2 class="pull-left">
    <img class="avatar" src="{{ current_user.me.avatar }}&s=38" />
    {{ current_user.me.display_name }}
  </h2>
  <a href="{{ url_for('profile_details.edit') }}" class="btn btn-primary pull-right" style="margin-top: 20px;">
    <span class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}
  </a>
</div>
<hr />

<div class="row">

  <div class="col-md-7">
    <h4>{{ _('General information') }}</h4>
    <dl class="dl-horizontal">
      <dt>{{ _('Email') }}</dt><dd>{{ current_user.me.email }}</dd>
      <dt>{{ _('Member since') }}</dt><dd>{{ current_user.me.created | datetime }}</dd>
      <dt>{{ _('User type') }}</dt><dd>{{ current_user.me.user_type.label }}</dd>
      <dt>{{ _('Karma') }}</dt><dd>{{ current_user.me.karma }}</dd>
    </dl>
    <h4>{{ _('Limits') }}</h4>
    <dl class="dl-horizontal">
      <dt>{{ _('Reviews/day') }}</dt><dd>{{ current_user.me.user_type.reviews_per_day }}</dd>
      <dt>{{ _('Votes/day') }}</dt><dd>{{ current_user.me.user_type.votes_per_day }}</dd>
    </dl>
  </div>

  <div class="col-md-5">
    <h4>{{ _('Statistics') }}</h4>

    <h5>{{ _('Reviews') }}</h5>
    <dl class="dl-horizontal">
      <dt>{{ _('Today') }}</dt><dd>{{ current_user.me.stats.reviews_today }}</dd>
      <dt>{{ _('Last 7 days') }}</dt><dd>{{ current_user.me.stats.reviews_last_7_days }}</dd>
      <dt>{{ _('This month') }}</dt><dd>{{ current_user.me.stats.reviews_this_month }}</dd>
    </dl>

    <h5>{{ _('Votes') }}</h5>
    <dl class="dl-horizontal">
      <dt>{{ _('Today') }}</dt><dd>{{ current_user.me.stats.votes_today }}</dd>
      <dt>{{ _('Last 7 days') }}</dt><dd>{{ current_user.me.stats.votes_last_7_days }}</dd>
      <dt>{{ _('This month') }}</dt><dd>{{ current_user.me.stats.votes_this_month }}</dd>
    </dl>
  </div>

</div>
{% endblock %}
