{% extends 'base.html' %}

{% block title %}{{ _('Sign in') }} - CritiqueBrainz{% endblock %}

{% block content %}
  <h3>{{ _('Sign in') }}</h3>
  <p>
    {{ _('To sign in, use your MusicBrainz account, and authorize CritiqueBrainz
    to access your profile data.') }}
  </p>
  <p>
    <div class="well" style="max-width: 600px; margin: 0 auto;">
      <a href="{{ url_for('login.musicbrainz', next=request.args.get('next')) }}"
         class="btn btn-primary btn-lg btn-block">{{ _('Sign in with MusicBrainz') }}</a>
    </div>
  </p>
  <p class="footnote">
    <em>
      {{ _('Profile data is used to create new CritiqueBrainz account if you don\'t
      have one yet. Access to your ratings is needed to update ratings on MusicBrainz
      when you rate music on CritiqueBrainz.') }}
    </em>
  </p>
{% endblock %}
