{% extends 'base.html' %}

{% block title %}{{ user.display_name }} - CritiqueBrainz{% endblock %}

{% block content %}
  <div id="profile-navigation" class="clearfix">
    <h2 class="pull-left"><img class="avatar" src="{{ user.avatar }}&s=32" /> {{ user.display_name }}</h2>
    {% if current_user.is_authenticated() and current_user.me.id == user.id %}
      <a href="{{ url_for('profile_details.edit') }}" class="btn btn-primary pull-right" style="margin-top: 20px;">
        <span class="glyphicon glyphicon-edit"></span> {{ _('Edit profile') }}
      </a>
    {% endif %}
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li {{ 'class=active' if section=='profile' }}><a href="{{ url_for('user.profile', user_id=user.id) }}">Profile</a></li>
    <li {{ 'class=active' if section=='reviews' }}><a href="{{ url_for('user.reviews', user_id=user.id) }}">Reviews</a></li>
    {% if current_user.is_authenticated() and current_user.me.id == user.id %}
      <li {{ 'class=active' if section=='applications' }}><a href="{{ url_for('user.applications') }}">Applications</a></li>
    {% endif %}
  </ul>

  {% block profile_content %}{% endblock %}
{% endblock %}
