{% extends 'base.html' %}

{% block title %}Reviewer "{{ user.display_name }}" - CritiqueBrainz{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h4>General information</h4>
    <dl class="dl-horizontal">
      <dt>Display name</dt><dd>{{ user.display_name }}</dd>
      <dt>Member since</dt><dd>{{ user.created | datetime }}</dd>
      <dt>User type</dt><dd>{{ user.user_type.label }}</dd>
      <dt>Karma</dt><dd>{{ user.karma }}</dd>
    </dl>
  </div>
  <div class="col-md-6">
    <h4>Statistics</h4>
    <div class="row">
      <div class="col-md-6">
        <h5>Reviews</h5>
        <dl class="dl-horizontal">
          <dt>Today</dt><dd>{{ user.stats.reviews_today }}</dd>
          <dt>Last 7 days</dt><dd>{{ user.stats.reviews_last_7_days }}</dd>
          <dt>This month</dt><dd>{{ user.stats.reviews_this_month }}</dd>
        </dl>
      </div>
      <div class="col-md-6">
        <h5>Votes</h5>
        <dl class="dl-horizontal">
          <dt>Today</dt><dd>{{ user.stats.votes_today }}</dd>
          <dt>Last 7 days</dt><dd>{{ user.stats.votes_last_7_days }}</dd>
          <dt>This month</dt><dd>{{ user.stats.votes_this_month }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<hr />

<h4>Reviews</h4>
{% if not reviews %}
  <p class="lead" style="text-align: center;">No reviews found</p>
{% else %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Artist</th>
        <th>Release group</th>
        <th>Created on</th>
        <th>Votes (+/-)</th>
        <th>Class</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
        {% set release_group = review.release_group|release_group_details %}
        <tr class="clickable-row" data-url="{{ url_for('review.entity', id=review.id) }}" data-review-id="{{ review.id }}">
          <td>{{ release_group.artist }}</td>
          <td>
            {{ release_group.title }}
            {% if release_group.first_release_date %}
              <span class="text-muted">({{ release_group.first_release_date }})</span>
            {% endif %}
          </td>
          <td>{{ review.created | datetime }}</td>
          <td>{{ review.votes_positive }}/{{ review.votes_negative }}</td>
          <td>{{ review.review_class }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <ul class="pagination">
    {% set pages = count//limit %}
    {% if count%limit %}
      {% set pages = pages+1 %}
    {% endif %}
    {% for p in range(pages) %}
      {% set p_offset = p*limit %}
      <li {% if offset == p_offset %}class="active"{% endif %}>
        <a href="{{ url_for('user.entity', id=user.id, limit=limit, offset=p*limit) }}">{{ p+1 }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
