from sqlalchemy.engine.url import URL

# database configuration
DATABASE = {'drivername': 'postgres',
            'host': 'localhost',
            'port': '5432',
            'username': 'postgres',
            'password': '',
            'database': ''}

SQLALCHEMY_DATABASE_URI = URL(**DATABASE)
