Flask==0.10.1
Flask-SQLAlchemy==0.9.1
Flask-Script==0.5.3
Flask-Testing==0.4
Jinja2==2.7
MarkupSafe==0.18
SQLAlchemy==0.8.1
Werkzeug==0.9.1
argparse==1.2.1
distribute==0.6.34
fixture==1.4
itsdangerous==0.21
psycopg2==2.5.1
pycrypto==2.6
-e git://github.com/StartTheShift/pyoauth2.git@63bb2117b84f8467533e23b18316c046e068da49#egg=pyoauth2-dev
rauth==0.5.5
requests==1.2.0
twill==0.9
wsgiref==0.1.2
